/* =================== _componentTitle =================== */
.conts-ttl {
	position: relative;
	padding-left: vw(82);
	font-weight: 400;
	font-size: vw(24);

	@include make-before {
		@include bg-url(icon, 'icon_book.svg');
		@include bg-op($s: 100% 100%);

		position: absolute;
		top: vh(-4);
		left: 0;
		width: vw(70);
		height: vh(45);
	}
}