/* =================== componentChoiceRole =================== */
.choice-role-list-wrap {
	@include flex-center {
		gap: vw(30);
	}

	padding-top: vh(70);
}

.choice-role-list {
	// @extend %speak-interaction;

	width: vw(274);
	padding: vh(40) vw(40);
	border: 1px solid color(gray-db);
	border-radius: vw(20);
	text-align: center;
	transition: all 0.2s;
	outline: 3px solid transparent;

	.img-wrap {
		@include circle(vw(140));

		position: relative;
		margin: 0 auto;

		.img {
			@include full;

			z-index: z(two);
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.name {
		margin-top: vh(38);
		font-weight: 600;
		font-size: vw(32);
	}

	.btn {
		height: vh(64);
		margin-top: vh(50);
		font-size: vw(24);
	}

	&.active {
		outline: 3px solid color(main);
	}
}