/* =================== _contsinfo =================== */
.cont-info-wrap {
	@include flex-center {
		flex-direction: column;
	}

	height: 100%;
	padding: 0 vw(64);

	.text-wrap {
		position: relative;
		padding: vh(30) vw(30);
		border-radius: vw(20);
		background-color: color(bg);
		font-weight: 400;
		font-size: vw(22);
		text-align: center;

		@include make-after  {
			@include bg-url(icon, 'icon_contsinfo_tail.svg');
			@include bg-op($s: 100% 100%);
			
			position: absolute;
			top: 100%;
			left: 50%;
			width: vw(38);
			height: vh(37);
			transform: translateX(-50%);
		}
	}

	.character-wrap {
		margin-top: vh(62);

		.img  {
			height: vh(167);
		}
	}
}