%layout-grid {
	display: grid;
	grid-template-rows: 1fr;
	gap: vw(50);
}

%btn {
	@include input-reset;

	cursor: pointer;
}

%btn-interaction {
	position: relative;
	transition: all 0.2s;
}

%speak-interaction {
	.img-wrap {
		position: relative;

		@include make-virtual {
			@include full;

			z-index: z(zero);
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 50%;
			background-color: color(orange-300);
			transform-origin: center center;
		}
	}

	&.active {
		.img-wrap {

			&:before,
			&:after {
				animation-name: op_zoomin;
				animation-duration: 1.8s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
			}

			&:after {
				animation-delay: 900ms;
			}
		}
	}
}