/*
---------------------
  : mixin.scss :
---------------------
*/

//원모양
@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
  @content;
}

//라운드모양
@mixin rounded($size, $radius: 2vmin) {
  width: $size;
  height: $size;
  border-radius: $radius;
  @content;
}

//정사각형모양
@mixin square($size) {
  width: $size;
  height: $size;
  @content;
}

//full size
@mixin full {
  width: 100%;
  height: 100%;
}

// img cover
@mixin full-img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// flex operate system
@mixin flex-op($align-items: null, $justify-content: null) {
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin flex-center($display: flex) {
  display: $display;
  @include flex-op(center, center);

  @content;
}

@mixin flex-end($display: flex) {
  display: $display;
  @include flex-op(center, end);

  @content;
}

@mixin flex-between($display: flex) {
  display: $display;
  @include flex-op(center, space-between);

  @content;
}

// background image
@mixin bg-url($path, $img) {
  background-image: urlPath($path, $img);
}

@mixin bg-op($position: center center, $size: auto, $repeat: no-repeat) {
  background: {
    position: $position;
    size: $size;
    repeat: $repeat;
  }
}

// bafore, after 작업시
@mixin make-before($content: "", $display: block) {
  &:before {
    content: $content;
    display: $display;

    @content;
  }
}

@mixin make-after($content: "", $display: block) {
  &:after {
    content: $content;
    display: $display;

    @content;
  }
}

@mixin make-virtual($content: "", $display: block) {
  &:before {
    content: $content;
    display: $display;

    @content;
  }

  &:after {
    content: $content;
    display: $display;

    @content;
  }
}

// input
@mixin input-reset {
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  appearance: none;
  outline: none;
  box-shadow: none;
}

//hover시
@mixin hover {
  &:hover {
    @content;
  }
}

//그라데이션 세팅
@mixin gradiant($deg: to top, $start: #e3e8ff 0%, $end: #e9faff 100%) {
  background-image: linear-gradient($deg, $start, $end);
}

//스크롤바
@mixin scrollbar(
  $color: #e2e2e2,
  $sub-color: #c3c3c3,
  $radius: 1vmin,
  $size: 1vmin
) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
    background-color: $color;
    border-radius: $radius;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $sub-color;
    border-radius: $radius;
  }
}

// 중앙으로 띄우기
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-y-center {
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-x-center {
  left: 50%;
  transform: translateX(-50%);
}
