$content-dark: #505a99; // fix
$content: #6e79bd; // fix
$content-light: #959fdc; // fix
$sub-purple: #d9d0ff; // fix
$sub-lightpurple: #f6f4ff; // fix
$sub-blue: #d6e9ff; // fix
$bubble-red: #fff3ea; // fix
$bubble-yellow: #fffcdf; // fix
$bubble-green: #eef6e7; // fix
$bubble-blue: #edf8ff; // fix
$bubble-gray: #eff1f5; // fix
$red-600: #e45757;
$blue-300: #dce6ff;
$blue-400: #a6c4e3;
$blue-500: #4c94df;
$purple-200: #f4f3fa;
$green-500: #30c17b; // fix: right
$orange-300: #f5b057;
$orange-400: #ee8407; // fix: warning
$orange-500: #fea451;
$orange-600: #fe8f29;
$orange-700: #e28733;
$gray-22: #222222; // fix
$gray-56: #565656; // fix
$gray-66: #666666; // fix
$gray-80: #808080; // fix
$gray-c9: #c9c9c9; // fix
$gray-db: #dbdbdb; // fix
$gray-f0: #f0f0f0; // fix
$gray-f5: #f5f5f5; // fix
$gray-ff: #ffffff; // fix

$color-set: (
  main: $content,
  main-dark: $content-dark,
  main-light: $content-light,
  sub: $sub-purple,
  sub-light: $sub-lightpurple,
  sub-blue: $sub-blue,
  bubble-red: $bubble-red,
  bubble-yellow: $bubble-yellow,
  bubble-green: $bubble-green,
  bubble-blue: $bubble-blue,
  bubble-gray: $bubble-gray,
  text: $gray-22,
  right: $green-500,
  warning: $orange-400,
  red-600: $red-600,
  blue-300: $blue-300,
  blue-400: $blue-400,
  blue-500: $blue-500,
  purple-200: $purple-200,
  orange-300: $orange-300,
  orange-400: $orange-400,
  orange-500: $orange-500,
  orange-600: $orange-600,
  orange-700: $orange-700,
  gray-22: $gray-22,
  gray-56: $gray-56,
  gray-66: $gray-66,
  gray-80: $gray-80,
  gray-c9: $gray-c9,
  gray-db: $gray-db,
  gray-f0: $gray-f0,
  gray-f5: $gray-f5,
  gray-ff: $gray-ff,
);

$zIndex-set: (
  modal: 100,
  fixed: 20,
  header: 10,
  nav: 5,
  two: 2,
  one: 1,
  zero: 0,
  minus: -1,
);

$path-set: (
  icon: "./images/icon/",
  img: "./images/img/",
);

/* common size */
$header-height: 7vmin;
$footer-height: 7vmin;

$line-height: 2.3;

$border-pill-radius: 2em;

$box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
$btn-shadow: 0 0.6vmin 0 rgba(88, 88, 88, 0.2);
$active-shadow: 0 0.5vmin 0 rgba(88, 88, 88, 0.2),
  inset 0 0.4vmin 0 rgba(88, 88, 88, 0.2);

$border-radius: 2.6vmin;
$main-radius: 3vmin;
$inner-radius: 2vmin;
$small-radius: 1vmin;

$border-1: min(2px, 0.1vmin);
$border-3: min(3px, 0.4vmin);

.height_fit {
  --ratio: 22 / 9;
  --width: calc(var(--height) * var(--ratio));
  --height: min(80vw, calc(80vh * 0.9));
}
.width_fit {
  --ratio: 9 / 19 !important;
  --width: 98vmin;
  --height: 70vmin;
  /* --height: calc(var(--width) * var(--ratio)); */
}

:root {
  --rem: 16;
  --header-height: 7vmin;
  --footer-height: 7vmin;
  --bg-color: #f0f0f0;
  --top-color: #f89e9e;
  --bottom-color: #565656;

  /* font-size */
  --head1: 7vmin;
  --head2: 6vmin;
  --head3: 5vmin;
  --head4: 4vmin;
  --font-size-36: 3.6vmin;
  --font-size-32: 3.2vmin;
  --font-size-28: 2.8vmin;
  --font-size-26: 2.6vmin;
  --font-size-24: 2.4vmin;
  --font-size-22: 2.2vmin;
  --font-size-20: 2vmin;

  /* color */
  --content-dark: $content-dark;
  --content: $content;
  --content-light: $content-light;
  --sub-purple: $sub-purple;
  --sub-lightpurple: $sub-lightpurple;
  --sub-blue: $sub-blue;
  --bubble-red: $bubble-red;
  --bubble-yellow: $bubble-yellow;
  --bubble-green: $bubble-green;
  --bubble-blue: $bubble-blue;
  --bubble-gray: $bubble-gray;
  --red-600: $red-600;
  --blue-300: $blue-300;
  --blue-400: $blue-400;
  --blue-500: $blue-500;
  --purple-200: $purple-200;
  --green-500: $green-500;
  --orange-300: $range-300;
  --orange-400: $orange-400;
  --orange-500: $orange-500;
  --orange-600: $orange-600;
  --orange-700: $orange-700;
  --gray-22: $gray-22;
  --gray-56: $gray-56;
  --gray-66: $ray-66;
  --gray-80: $gray-80;
  --gray-c9: $gray-c9;
  --gray-db: $gray-db;
  --gray-f0: $gray-f0;
  --gray-f5: $gray-f5;
  --gray-ff: $gray-ff;

  --btn-shadow: $btn-shadow;

  --main-radius: $main-radius;
  --inner-radius: $inner-radius;
  --small-radius: $small-radius;
}
