/* =================== componentRoleplay =================== */
.roleplay-container {
	.conversation-wrap {
		.img-wrap {
			margin-right: vw(40);
		}
	}

	.bubble-wrap {
		position: relative;
		width: vw(600);
		margin-top: vh(12);
		padding: vh(25) vw(40);
		border-radius: 0 vw(30) vw(30) vw(30);
	}
	
	.right-conts {
		flex-direction: row-reverse;

		.img-wrap {
			margin-right: 0;
			margin-left: vw(40);
		}
		
		.bubble-wrap {
			border-radius: vw(30) 0 vw(30) vw(30);
		}

		.name {
			text-align: right;
		}

		// .record-btn-wrap {}
	}
}