/* =================== componentRepeatSpeak =================== */
.repeat-speak-wrapper {
  @include flex-col {
    @include flex-op(flex-start, center);
  }

  width: vw(390);
  height: vw(140);
  padding: vw(10) vw(40);
  border-radius: vw(20);
  background-color: rgba(255, 255, 255, 0.5);

  .text-wrap {
    @include flex {
      align-items: center;
    }
  }

  .text {
    font-size: vw(24);
    line-height: 1;
  }

  .icon {
    margin-left: vw(14);
  }

  .btn {
    margin-top: vw(16);
  }

  .cai-progress-track {
    // display: none;
    margin-top: vw(26);
  }
}
