@charset "UTF-8";

.inp-chck,
.inp-radio {
	overflow: hidden;
	position: fixed;
	top: -1px;
	left: -1px;
	width: 1px;
	height: 1px;
	font-size: 1px;
}

.word-test-main {
	/* footer height */
	padding-bottom: 7.777777777777778vh;
}

/* MetaTestChoiceWord.tsx */
.choice-card-wrap {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}

.inp-grp,
div.inp-grp {
	position: relative;
	width: 20%;
	padding: 16px 20px;
	padding: 0.8333333333vw 1.0416666667vw;
}

.inp-card-layout,
label.inp-card-layout {
	display: block;
	width: 100%;
	height: 96px;
	height: 5vw;
	line-height: 96px;
	line-height: 5vw;
	border: 1px solid #e4e4e4;
	border-radius: 16px;
	border-radius: 0.8333333333vw;
	background-color: #F7F7F7;
	font-weight: 400;
	font-size: 40px;
	font-size: 2.0833333333vw;
	color: #3c3c3c;
	text-align: center;
	box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}

.inp-card-layout:hover,
.inp-card-layout:focus,
label.inp-card-layout:hover,
label.inp-card-layout:focus {
	background-color: #E4E4E4;
}

.inp-chck:checked~.inp-card-layout {
	border: 6px solid #F5BE54;
	background-color: white;
	line-height: 88px;
	line-height: 3.8541666667vw;
}

/* MetaTestWordTest.tsx */
.word-test-wrap ul {
	text-align: center;
}

.metatest-title {
	font-weight: 600;
	font-size: 38px;
	font-size: 1.9791666667vw;
	color: #3C3C3C;
	text-align: center;
}

.metatest-title b {
	color: #6070CF;
}

.metatest-question-list,
li.metatest-question-list {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-top: 64px;
	margin-top: 3.3333333333vw;
}

.metatest-question-list .number {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	width: 3.3333333333vw;
	height: 3.3333333333vw;
	border-radius: 50%;
	background-color: #6070cf;
	font-weight: 600;
	font-size: 32px;
	font-size: 1.6666666667vw;
	color: white;
	vertical-align: middle;
	box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}

.metatest-question-list .word {
	display: inline-block;
	margin-left: 32px;
	margin-left: 1.6666666667vw;
	width: 240px;
	width: 12.5vw;
	font-weight: 400;
	font-size: 56px;
	font-size: 2.9166666667vw;
	text-align: center;
	vertical-align: middle;
}

.metatest-question-list .choice-wrap {
	position: relative;
}

.metatest-question-list .choice-wrap.checked:before {
	content: '';
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	/* background-color: red; */
}

.metatest-question-list .choice-wrap .inp-title {
	/* position: absolute;
	top: 50%;
	left: -20px;
	left: -2.0833333333vw; */
	display: inline-block;
	width: 4em;
	font-weight: 400;
	font-size: 30px;
	font-size: 1.5625vw;
	color: #666666;
	text-align: center;
	/* transform: translate(-100%, -50%); */
}

.metatest-question-list .choice-wrap .inp-grp {
	display: inline-block;
	width: auto;
}

.inp-radio-layout,
p.inp-radio-layout,
label.inp-radio-layout {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 320px;
	width: 16.6666666667vw;
	height: 80px;
	height: 5.5555555556vh;
	border: 0.2083333333vw solid #999;
	border-radius: 52px;
	border-radius: 2.9166666667vw;
	font-size: 30px;
	font-size: 1.5625vw;
	font-weight: 400;
	color: #999999;
}

.inp-radio:checked~.inp-radio-layout {
	border-color: #6070CF;
	background-color: #6070CF;
	color: white;
}

.metatest-question-list .test-timer {
	position: absolute;
	top: 50%;
	left: auto;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 96px;
	height: 96px;
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	border: 12px solid #E4E4E4;
	border: 0.625vw solid #E4E4E4;
	color: #FFBE41;
	font-weight: 600;
	font-size: 48px;
	font-size: 2.5vw;
	transform: translate(100%, -50%);
}

.metatest-question-list .test-timer.helf {
	border-top-color:
}

.test-timer:before {
	content: '';
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	border: 12px solid #FFBE41;
	border: 0.625vw solid #FFBE41;
	border-radius: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.metatest-question-list .test-timer.half:before {
	border-top-color: transparent;
	border-right-color: transparent;
}

.metatest-question-list .test-timer.zero:before {
	border-color: transparent;
}

/* 시간 초과 */
.metatest-question-list.timeout .choice-wrap:not(.checked) .inp-radio-layout {
	border-color: #F65555;
	color: #F65555;
}

.metatest-question-list.timeout:before {
	content: '';
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

/* 비활성화 */
.metatest-question-list.disabled .number {
	background-color: #999999;
}

.metatest-question-list.disabled .word {
	font-size: 48px;
	font-size: 2.5vw;
	color: #999999;
}

.metatest-question-list.disabled .inp-grp {
	padding: 0;
}

.metatest-question-list.disabled .inp-title {
	display: none;
}

.metatest-question-list.disabled .choice-wrap:first-child .inp-title {
	display: inline-block;
	color: transparent;
	user-select: none;
}

.metatest-question-list.disabled .inp-radio~.inp-radio-layout {
	display: none;
}

.metatest-question-list.disabled:before {
	content: '';
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.metatest-question-list.disabled .inp-radio:checked~.inp-radio-layout {
	display: inline-flex;
}


.metatest-question-list.disabled .choice-wrap {
	display: inline-block;
	padding: 0 1.0416666667vw;
}

.metatest-question-list.disabled .test-timer {
	display: none;
}

/* MetaTestWordTestGrade */
.test-grade-wrap .test-grade-conts {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 32px;
	margin-top: 1.6666666667vw;
}

.test-grade-wrap .test-grade-head {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 32px;
	margin-top: 1.6666666667vw;
}

.test-grade-head .test-word {
	min-width: 240px;
	min-width: 12.5vw;
	margin-right: 20px;
	margin-right: 1.0416666667vw;
	color: #666666;
	text-align: center;
}

.test-grade-head .inp-radio-layout {
	margin: 0 16px;
	margin: 0 0.8333333333vw;
	border-color: transparent;
	background-color: transparent;
	font-size: 30px;
	font-size: 1.5625vw;
	color: #666666;
}

.test-grade-head .test-grade {
	min-width: 240px;
	min-width: 12.5vw;
	color: #666666;
	text-align: center;
}

.test-grade-conts .test-word {
	min-width: 240px;
	min-width: 12.5vw;
	margin-right: 20px;
	margin-right: 1.0416666667vw;
	font-weight: 600;
	font-size: 48px;
	font-size: 2.5vw;
	text-align: center;
}

.test-grade-conts .inp-radio-layout {
	margin: 0 16px;
	margin: 0 0.8333333333vw;
	border-color: #6070CF;
	background-color: #6070CF;
	color: white;
}

.test-grade-conts .inp-radio-layout.wrong {
	border-color: #F65555;
	background-color: transparent;
	color: #F65555;
}

.test-grade-conts .test-grade {
	position: relative;
	min-width: 240px;
	min-width: 12.5vw;
	font-size: 30px;
	font-size: 1.5625vw;
	text-align: center;
	user-select: none;
	color: transparent;
}

.test-grade-conts .test-grade:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 56px;
	height: 56px;
	width: 2.9166666667vw;
	height: 2.9166666667vw;
	border: 12px solid #6070CF;
	border: 0.625vw solid #6070CF;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.test-grade-conts .test-grade.wrong:before {
	border: none;
	border-radius: 12px;
	width: 74px;
	width: 3.8541666667vw;
	height: 12px;
	height: 0.625vw;
	background-color: #F65555;
	transform: translate(-50%, -50%) rotate(45deg);
}

.test-grade-conts .test-grade.wrong:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	border: none;
	border-radius: 12px;
	width: 74px;
	width: 3.8541666667vw;
	height: 12px;
	height: 0.625vw;
	background-color: #F65555;
	transform: translate(-50%, -50%) rotate(-45deg);
}

/* MetaTestWordTestReport.tsx */
.report-wrap .inp-chck:checked~.inp-card-layout {
    border: 1px solid #e4e4e4;
    background-color: #F7F7F7;
    line-height: 5vw;
}

.report-wrap .inp-card-layout:hover,
.report-wrap .inp-card-layout:focus {
	background-color: #F7F7F7;
}

.tab-title-wrap,
div.tab-title-wrap {
	width: 600px;
	width: 31.25vw;
	margin: 0 auto 64px;
	margin-bottom: 3.3333333333vw;
	border-radius: 40px;
	border-radius: 2.0833333333vw;
	background-color: #E4E4E4;
}

.tab-title-wrap .tab-title {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	width: 15.625vw;
	padding: 16px 24px;
	padding: 0.8333333333vw 1.25vw;
	border-radius: 40px;
	border-radius: 2.0833333333vw;
	line-height: 1.6;
	font-weight: 600;
	font-size: 30px;
	font-size: 1.5625vw;
	color: #999999;
}

.tab-title-wrap .tab-title.active {
	background-color: #222222;
	color: white;
}

/* 
	4px
	0.2083333333vw

	10px
	0.5208333333vw

	12px
	0.625vw

	16px
	0.8333333333vw

	20px
	1.0416666667vw

	24px
	1.25vw

	30px
	1.5625vw
	
	32px
	1.6666666667vw
	
	38px
	1.9791666667vw
	
	40px
	2.0833333333vw

	48px
	2.5vw
	
	56px
	2.9166666667vw
	
	64px
	3.3333333333vw

	74px
	3.8541666667vw

	80px
	4.1666666667vw
	5.5555555556vh
	
	88px
	3.8541666667vw
	
	96px
	5vw

	320px
	16.6666666667vw

	600px
	31.25vw
 */