/*
---------------------
  : animations.scss :
---------------------
*/

@keyframes op_zoomin {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes opacity-70 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
