/* =================== form =================== */
button:hover {
  opacity: 1;
}

// =================== button style
.btns-wrap {
  @include flex-center {
    gap: 2vmin;
  }
}

// icon button
.btn-icon {
  @extend %btn;
  @extend %btn-interaction;

  width: 8vmin;
  height: 8vmin;
  border-radius: 2vmin;

  @include bg-op($s: 100% 100%);

  overflow: hidden;
  display: inline-block;
  text-indent: -10rem;
  color: transparent;
  text-align: left;
  box-shadow: $btn-shadow;
  /* transition: all 0.3s; */

  .icon {
    @include full;
  }
}

.btn-icon-mini {
  flex: none;
  width: 4.5vmin;
  height: 4.5vmin;
  border-radius: 1vmin;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -10rem;
  color: transparent;
  text-align: left;
  box-shadow: 0 0.6vmin 0 rgba(88, 88, 88, 0.2);
}

.btn-play {
  @include bg-url(icon, "icon_play.svg");

  @include hover {
    @include bg-url(icon, "icon_play_hover.svg");
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    @include bg-url(icon, "icon_play_disabled.svg");
  }
}

.btn-pause-fill {
  @include bg-url(icon, "icon_pause_fill.svg");

  @include hover {
    @include bg-url(icon, "icon_pause_fill_hover.svg");
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    @include bg-url(icon, "icon_pause_fill_disabled.svg");
  }
}

.btn-stop-fill {
  @include bg-url(icon, "icon_stop_fill.svg");

  @include hover {
    @include bg-url(icon, "icon_stop_fill_hover.svg");
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    @include bg-url(icon, "icon_stop_fill_disabled.svg");
  }
}

.btn-mic {
  @include bg-url(icon, "icon_mic.svg");

  @include hover {
    @include bg-url(icon, "icon_mic_hover.svg");
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    @include bg-url(icon, "icon_mic_disabled.svg");
  }
}

.btn-return {
  @include bg-url(icon, "icon_return.svg");

  @include hover {
    @include bg-url(icon, "icon_return_hover.svg");
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    @include bg-url(icon, "icon_return_disabled.svg");
  }
}

.btn-dictionary {
  @include bg-url(icon, "icon_dictionary.svg");

  @include hover {
    @include bg-url(icon, "icon_dictionary_hover.svg");
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    @include bg-url(icon, "icon_dictionary_disabled.svg");
  }
}

.btn-profile {
  @include make-before {
    @include full;

    opacity: 0;
    z-index: z(two);
    position: absolute;
    top: 0;
    left: 0;
    background-color: color(gray-ff);
  }

  @include hover {
    &:before {
      opacity: 0.25;
    }
  }
}

.btn-round-icon-arrow {
  @extend %btn;
  @include flex-center;
  @include circle(4vmin);

  background-color: color(gray-ff);
  box-shadow: $btn-shadow;

  @at-root .active & {
    .icon {
      transform: rotate(180deg);
    }
  }
  img {
    max-width: 2vmin;
  }
}

.btn-close-modal {
  @extend %btn;
  @include square(5vmin);

  z-index: z(two);
  position: absolute;
  top: 1vmin;
  left: auto;
  right: 1vmin;
}

// text button
.btn-fill-black {
  @extend %btn;
  @extend %btn-interaction;

  width: 100%;
  height: vh(75);
  border: 1px solid color(gray-56);
  border-radius: var(--small-radius);
  background-color: color(gray-56);
  font-weight: 600;
  font-size: var(--font-size-22);
  color: color(gray-ff);
  box-shadow: $btn-shadow;

  @include hover {
    background-color: color(gray-22);
  }
}

.btn-radi-border-main {
  @extend %btn;
  @extend %btn-interaction;

  min-width: 50%;
  padding: 0.5em 1em;
  border: 0.4vmin solid color(gray-f0);
  border-radius: 10vmin;
  font-weight: 600;
  font-size: 3vmin;
  color: color(main);
  box-shadow: $btn-shadow;

  &:before {
    letter-spacing: -0.04em;
  }

  @include hover {
    background-color: color(gray-f5);
  }

  &:disabled,
  &:disabled:focus,
  &:disabled:hover {
    background-color: color(gray-c9);
    border-color: color(gray-f5);
  }
}

.btn-radi-fill-main {
  @extend %btn;
  @extend %btn-interaction;

  min-width: 50%;
  padding: 0.5em 1em;
  border: 1px solid color(main);
  border-radius: 10vmin;
  background-color: color(main);
  font-weight: 600;
  font-size: var(--font-size-26);
  color: color(gray-ff);
  box-shadow: $btn-shadow;

  @at-root .modal & {
    width: 100%;
  }

  @include hover {
    background-color: color(main-dark);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    background-color: color(gray-c9);
    border-color: color(gray-c9);
    color: color(gray-ff);
  }
}

.btn-radi-fill-orange {
  @extend %btn;
  @extend %btn-interaction;

  width: 10vmin;
  height: vh(46);
  border: 1px solid color(orange-500);
  border-radius: 10vmin;
  background-color: color(orange-500);
  line-height: 1;
  font-weight: 600;
  font-size: var(--font-size-22);
  color: color(gray-ff);
  box-shadow: $btn-shadow;

  &:before {
    letter-spacing: -0.04em;
  }

  @include hover {
    background-color: color(orange-600);
  }
}

.btn-radi-fill-black-mini {
  @extend %btn;

  width: 12vmin;
  padding: 0.5em 1em;
  border: 1px solid color(gray-56);
  border-radius: 10vmin;
  background-color: color(gray-56);
  line-height: 1;
  font-weight: 600;
  font-size: var(--font-size-22);
  color: color(gray-ff);
  box-shadow: $btn-shadow;

  &:before {
    letter-spacing: -0.04em;
  }
}

.btn-step {
  @extend %btn;
  @include flex-center;

  width: 25vmin;
  max-width: 282px;
  padding: 0.5em 1em;
  border: 2px solid color(gray-db);
  border-radius: 10vmin;
  background-color: color(gray-ff);
  font-weight: 600;
  font-size: 2.4vmin;
  box-shadow: $btn-shadow;

  @media (hover: hover) and (pointer: fine) {
    @include hover {
      background-color: color(gray-f5);
      border-color: color(gray-db);
    }
  }

  .icon {
    margin-left: 0.6vmin;
    transform: scale(1);
    width: 3vmin;
  }
}

// footer buttons
.ft-icon-btn {
  @extend %btn;

  @include circle(5vmin);

  @include flex-center;

  border: 1px solid color(gray-ff);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);

  > img {
    width: 30%;
  }

  @media (hover: hover) and (pointer: fine) {
    @include hover {
      outline: 2px solid color(gray-ff);
    }
  }

  &:disabled {
    opacity: 0.3;
    outline: none;
  }
}

.btn-ft-text {
  @extend %btn;
  @include flex-center;

  z-index: z(two);
  position: absolute;
  top: 0;
  left: 0;
  width: 25vmin;
  height: 100%;
  padding: 0 2em;
  font-weight: 600;
  font-size: 3vmin;
  color: color(gray-ff);

  .icon {
    display: inline;
    width: 20%;
    margin-left: 2vmin;
  }

  .icon-close {
    display: none;
  }

  &.active {
    .icon-open {
      display: none;
    }

    .icon-close {
      display: inline;
    }
  }
}

// =================== input text style
.inp-txt {
  width: 100%;
  height: vh(88);
  padding: 0 3vmin;
  border: 1px solid color(gray-db);
  border-radius: 2vmin;
  font-size: var(--font-size-28);

  &::placeholder {
    color: color(gray-80);
  }
}

// =================== input toggle style
.toggles-wrapper {
  .inp-toggle-wrap:not(:first-of-type) {
    margin-left: 3vmin;
  }
}

.inp-toggle-wrap {
  display: inline-flex;

  &:not(:first-of-type) {
    margin-top: 5px;
  }
}

.toggle-name {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 2vmin;
}

.toggle-label {
  position: relative;
  display: block;
  width: 7vmin;
  height: 4vmin;
  margin-left: 2vmin;
  border-radius: 2vmin;
  background-color: color(gray-c9);
  transition: all 0.3s;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);

  @include make-after {
    @include circle(3vmin);

    position: absolute;
    top: 50%;
    left: 0.5vmin;
    background-color: #ffffff;
    transform: translateY(-50%);
    transition: all 0.3s;
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
  }

  .txt {
    overflow: hidden;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 1px;
    font-size: 1px;
    color: transparent;
  }
}

.toggle-input:checked ~ .toggle-label {
  background-color: color(main);

  &:after {
    left: calc(100% - 3.5vmin);
  }
}

// =================== input checked style
// inp-chck-gray
.label-chck-gray {
  @include flex-center;

  width: 100%;
  min-height: 2vmin;
  padding: 2vmin 3vmin;
  border: 0.3vmin solid color(gray-f0);
  border-radius: 2vmin;
  background-color: color(gray-f5);
  text-align: center;
  box-shadow: $btn-shadow;
  transition: all 0.2s;
  cursor: pointer;

  @include hover {
    background-color: color(gray-f0);
    border-color: color(gray-db);
  }

  .text {
    position: relative;
    display: inline-block;
    font-size: 2.6vmin;
  }
}

.inp-chck-gray:checked ~ .label-chck-gray {
  border-color: color(main);
  background-color: color(gray-ff);

  .text {
    color: color(main);
  }

  @at-root .answer-right & {
    border-color: color(right);
    background-color: color(gray-ff);

    .text {
      color: color(right);
    }
  }

  @at-root .answer-wrong & {
    border-color: color(warning);
    background-color: color(gray-ff);

    .text {
      color: color(warning);
    }
  }
}

// inp-chck-line
.label-chck-line {
  display: block;
  padding: 1.5vmin 3vmin;
  border: 0.3vmin solid color(gray-db);
  border-radius: 2vmin;
  box-shadow: $btn-shadow;
  text-align: center;
  cursor: pointer;

  @include hover {
    border-color: color(main-light);
    color: color(main-light);
  }

  .text {
    position: relative;
    display: block;
    font-weight: 600;
    font-size: 2.6vmin;
    color: color(gray-80);
  }

  .text-sm {
    display: block;
    font-size: var(--font-size-22);
    color: color(gray-80);
  }
}

.inp-chck-line:disabled ~ .label-chck-line {
  border-color: color(gray-db);
  transition: all 0.2s;
  cursor: default;

  .text,
  .text-sm {
    color: color(gray-db);
  }
}

.inp-chck-line:checked ~ .label-chck-line {
  border-color: color(main);

  .text,
  .text-sm {
    color: color(main);
  }

  @at-root .answer-right & {
    border-color: color(right);

    .text,
    .text-sm {
      color: color(right);
    }
  }

  @at-root .answer-wrong & {
    border-color: color(warning);

    .text,
    .text-sm {
      color: color(warning);
    }
  }
}
