/* =================== header =================== */
$flag-width: 42px;

.cai-hd {
  z-index: z(header);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
}

.hd-conts-wrap {
  position: relative;
  height: 100%;
  padding-right: clamp($flag-width, 6.2vmin, 62px);
  text-align: right;
  transition: width 1200ms;
  transition-timing-function: linear;

  @include make-after {
    z-index: z(minus);
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - $flag-width);
    height: 100%;
  }

  @include make-before {
    z-index: z(minus);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 1200ms;
    transition-timing-function: linear;
  }

  .bg-wrap {
    z-index: z(one);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: $flag-width;
    height: $header-height;
  }

  .bg-flag {
    @include square(100px);
    position: absolute;
    top: 50%;
    left: auto;
    right: -2.5vmin;
    border-radius: 1vmin;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.hd-cha-wrap {
  @include flex-center(inline-flex);

  z-index: z(two);
  position: relative;
  top: 0;
  margin-top: 0.4em;

  .img {
    width: 9vmin;
  }

  .txt {
    position: absolute;
    top: 1.5em;
    padding: 0.5em 1em;
    border-radius: $border-pill-radius;
    background-color: color(gray-ff);
    font-weight: 600;
    font-size: 2.4vmin;
    box-shadow: $box-shadow;
    white-space: nowrap;
  }

  &.first-half {
    .img {
      margin-left: 1vmin;
    }

    .txt {
      left: calc(100% + 1vmin);
      border-top-left-radius: 0;
    }
  }

  &.second-half {
    .img {
      margin-right: 1vmin;
    }

    .txt {
      left: auto;
      right: calc(100% + 1vmin);
      border-top-right-radius: 0;
    }
  }
}

.corner-name {
  display: inline-block;
  height: $header-height;
  font-weight: 600;
  font-size: 3vmin;
  color: color(gray-ff);
  vertical-align: top;
  padding: 0.4em 0;
  background-color: #ee4141;
}
