/* =================== header =================== */
.cai-hd {
	z-index: z(header);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $hd-height;
}

.hd-conts-wrap {
	position: relative;
	height: 100%;
	padding-right: 62px;
	text-align: right;
	transition: width 1200ms;

	@include make-after {
		z-index: z(minus);
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% - 42px);
		height: 100%;
	}

	.bg-wrap {
		z-index: z(one);
		overflow: hidden;
		position: absolute;
		top: 0;
		left: auto;
		right: 0;
		width: 42px;
		height: $hd-height;
	}

	.bg-flag {
		@include square(100px);

		position: absolute;
		top: 50%;
		left: auto;
		right: -30px;
		border-radius: 10px;
		transform: translate(-50%, -50%) rotate(45deg);
	}
}

.hd-cha-wrap {
	@include flex-center(inline-flex);

	z-index: z(two);
	position: relative;
	margin-top: vw(10);

	.img {
		width: vw(100);
	}

	.txt {
		position: absolute;
		top: vh(40);
		padding: vh(12) vw(34);
		border-radius: vw(35);
		background-color: color(gray-ff);
		font-weight: 600;
		font-size: vw(26);
		box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
		white-space: nowrap;
	}

	&.first-half {
		.img {
			margin-left: vw(10);
		}

		.txt {
			left: calc(100% + vw(10));
			border-top-left-radius: 0;
		}
	}

	&.second-half {
		.img {
			margin-right: vw(10);
		}

		.txt {
			left: auto;
			right: calc(100% + vw(10));
			border-top-right-radius: 0;
		}
	}
}

.corner-name {
	display: inline-block;
	height: $hd-height;
	line-height: $hd-height;
	font-weight: 600;
	font-size: vw(30);
	color: color(gray-ff);
	vertical-align: top;
}