/* =================== problemLayout =================== */
$cont-padding: vw(40);
$main-light-color: #e3e3e7;
$main-color: #6673a3;
$main-dark-color: #46538c;
$gray-color: #d6d7da;

// header style
.problem-hd {
  background-color: $main-color;

  .hd-conts-wrap {
    @include flex-btw;

    padding: 0 $cont-padding;
  }
}

.problem-hd-ttl {
  font-weight: 600;
  font-size: vw(26);
  color: color(gray-ff);
}

.problem-hd-timer {
  font-weight: 400;
  font-size: vw(26);
  display: flex;
  justify-content: center;
  align-items: center;
  color: color(gray-ff);

  > img {
    margin-right: vw(10);
    vertical-align: bottom;
  }
}

// main layout style
.problem-main {
  padding-top: $hd-height;
  padding-bottom: 0;

  .problem-top-button-wrapper {
    width: vw(1610);
    margin: vh(30) auto 0;
    // overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .pagination-wrapper {
    gap: vw(15);
  }

  .layout-panel-wrap {
    position: relative;
    height: calc(100% - vh(70) - vh(140));
    margin-top: vh(30);
  }

  .btn-radi-border-main {
    background-color: color(gray-ff);
  }

  .grid-h-3-7 .layout-panel {
    overflow-y: scroll;
  }
}

// submit button style
.btn-problem {
  @extend %btn;

  @include circle(vw(115));

  position: absolute;
  top: auto;
  bottom: vh(40);
  left: auto;
  right: 0;
  background-color: $main-color;
  transform: translateX(50%);
  box-shadow: 0 vw(6) vw(20) rgba(120, 127, 153, 0.6);
  transition: all 0.3s;

  > span {
    display: block;
    margin-bottom: vh(8);
    font-weight: 600;
    font-size: vw(20);
    color: color(gray-ff);
    text-align: center;
  }

  @include hover {
    background-color: $main-dark-color;
  }
}

// question number style
.question-number {
  position: absolute;
  top: vh(60);
  left: 0;
  min-width: vw(125);
  padding: vw(7) vw(15);
  border-radius: vw(5);
  background-color: $main-color;
  font-weight: 500;
  font-size: vw(24);
  line-height: 1.6;
  color: color(gray-ff);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  transform: translateX(vw(-62));
  white-space: pre-line;
}

// pagination style
.problem-top-button-wrapper {
  @include flex-btw {
    gap: vw(50);
  }

  width: 100%;
  height: vh(60);
}

.top-button-left {
  width: 30%;
}

.top-button-right {
  @include flex-btw;

  width: 70%;
}

.pagination-wrapper {
  @include flex-op(center, flex-start);

  overflow-x: auto;
  gap: vw(16);
  height: vh(90);
  padding: 0 $cont-padding;
  border-radius: vw(10);
  background-color: $main-light-color;
}

.problem-pagination {
  @extend %btn;

  flex-shrink: 0;
  min-width: vw(62);
  height: vw(62);
  padding: 0 vw(15);
  border: 1px solid color(gray-f0);
  border-radius: vw(10);
  background-color: $gray-color;
  font-weight: 500;
  font-size: vw(24);
  color: color(gray-80);
  text-align: center;

  &.end {
    background-color: color(gray-f5);
    color: $main-color;
  }

  &.active {
    background-color: $main-color;
    color: color(gray-ff);
    box-shadow: 0 vw(2) vw(10) rgba(0, 0, 0, 0.25);
  }
}

.problem-title-wrap {
  padding: vw(14) vw(25);
  border-radius: vw(10);
  background-color: $main-light-color;
  font-size: vw(24);

  > b {
    color: $main-color;
  }
}

// button style
.btn-problem-white {
  @extend %btn;

  @include flex-center {
    gap: vw(10);
  }

  height: vw(55);
  padding: vw(10) vw(20);
  border: 1px solid color(gray-db);
  border-radius: vw(10);
  background-color: color(gray-ff);
  font-size: vw(22);
  transition: all 0.2s;

  img {
    width: vw(18);
  }

  @include hover {
    border-color: $main-color;
    color: $main-dark-color;
  }
}

.btn-problem-white-round {
  @extend %btn;

  @include flex-center {
    gap: vw(10);
  }

  width: 100%;
  height: vw(55);
  padding: vw(12) vw(27);
  border: 1px solid color(gray-db);
  border-radius: vw(100);
  background-color: color(gray-ff);
  font-size: vw(22);
  letter-spacing: vw(-2);
  transition: all 0.2s;

  @include hover {
    border-color: $main-color;
    color: $main-dark-color;
  }
}

.btn-problem-gray {
  @extend %btn;

  @include flex-center {
    gap: vw(10);
  }

  height: vw(55);
  padding: vw(10) vw(20);
  border: 1px solid color(gray-80);
  border-radius: vw(10);
  background-color: color(gray-80);
  font-size: vw(22);
  color: color(gray-ff);
  transition: all 0.2s;

  img {
    width: vw(20);
  }

  @include hover {
    background-color: color(gray-56);
  }
}
