/*
---------------------------
  : problemLayout.scss :
---------------------------
*/
$cont-padding: 4vmin;
$main-light-color: #e3e3e7;
$main-color: #6673a3;
$main-dark-color: #46538c;
$gray-color: #d6d7da;

// header style
.problem-hd {
  background-color: $main-color;

  .hd-conts-wrap {
    @include flex-btw;

    padding: 0 $cont-padding;
  }
}

.problem-hd-ttl {
  font-weight: 600;
  font-size: $font-size-26;
  color: color(gray-ff);
}

.problem-hd-timer {
  font-weight: 400;
  font-size: $font-size-26;
  display: flex;
  justify-content: center;
  align-items: center;
  color: color(gray-ff);

  > img {
    margin-right: 1vmin;
    vertical-align: bottom;
  }
}

// main layout style
.problem-main {
  padding-top: var(--header-height);
  padding-bottom: 0;

  .problem-top-button-wrapper {
    width: 161vmin;
    margin: 3vmin auto 0;
    // overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .pagination-wrapper {
    gap: 1.5vmin;
  }

  .layout-panel-wrap {
    position: relative;
    height: calc(100% - 7vh - 14vh);
    margin-top: 3vmin;
  }

  .btn-radi-border-main {
    background-color: color(gray-ff);
  }

  .grid-h-3-7 .layout-panel {
    overflow-y: scroll;
  }
}

// submit button style
.btn-problem {
  @extend %btn;

  @include circle(12vmin);

  position: absolute;
  top: auto;
  bottom: 4vmin;
  left: auto;
  right: 0;
  background-color: $main-color;
  transform: translateX(50%);
  box-shadow: 0 0.6vmin 2vmin rgba(120, 127, 153, 0.6);
  transition: all 0.3s;

  > span {
    display: block;
    margin-bottom: 1vmin;
    font-weight: 600;
    font-size: $font-size-20;
    color: color(gray-ff);
    text-align: center;
  }

  @include hover {
    background-color: $main-dark-color;
  }
}

// question number style
.question-number {
  position: absolute;
  top: 6vmin;
  left: 0;
  min-width: 13vmin;
  padding: 0.7vmin 1.5vmin;
  border-radius: 0.5vmin;
  background-color: $main-color;
  font-weight: 500;
  font-size: $font-size-24;
  line-height: 1.6;
  color: color(gray-ff);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  transform: translateX(-6vmin);
  white-space: pre-line;
}

// pagination style
.problem-top-button-wrapper {
  @include flex-btw {
    gap: 5vmin;
  }

  width: 100%;
  height: 6vmin;
}

.top-button-left {
  width: 30%;
}

.top-button-right {
  @include flex-btw;

  width: 70%;
}

.pagination-wrapper {
  @include flex-op(center, flex-start);

  overflow-x: auto;
  gap: 2v, om;
  height: 9vmin;
  padding: 0 $cont-padding;
  border-radius: 1vmin;
  background-color: $main-light-color;
}

.problem-pagination {
  @extend %btn;

  flex-shrink: 0;
  min-width: 6.2vmin;
  height: 6.2vmin;
  padding: 0 1.5vmin;
  border: 1px solid color(gray-f0);
  border-radius: 1vmin;
  background-color: $gray-color;
  font-weight: 500;
  font-size: $font-size-24;
  color: color(gray-80);
  text-align: center;

  &.end {
    background-color: color(gray-f5);
    color: $main-color;
  }

  &.active {
    background-color: $main-color;
    color: color(gray-ff);
    box-shadow: 0 0.2vmin 1vmin rgba(0, 0, 0, 0.25);
  }
}

.problem-title-wrap {
  padding: 1.4vmin 2.5vmin;
  border-radius: 1vmin;
  background-color: $main-light-color;
  font-size: $font-size-24;

  > b {
    color: $main-color;
  }
}

// button style
.btn-problem-white {
  @extend %btn;

  @include flex-center {
    gap: 1vmin;
  }

  height: 5.5vmin;
  padding: 1vmin 2vmin;
  border: 1px solid color(gray-db);
  border-radius: 1vmin;
  background-color: color(gray-ff);
  font-size: $font-size-24;
  transition: all 0.2s;

  img {
    width: 1.8vmin;
  }

  @include hover {
    border-color: $main-color;
    color: $main-dark-color;
  }
}

.btn-problem-white-round {
  @extend %btn;

  @include flex-center {
    gap: 1vmin;
  }

  width: 100%;
  height: 5.5vmin;
  padding: 1.2vmin 2.7vmin;
  border: 1px solid color(gray-db);
  border-radius: 10vmin;
  background-color: color(gray-ff);
  font-size: $font-size-22;
  letter-spacing: -2vmin;
  transition: all 0.2s;

  @include hover {
    border-color: $main-color;
    color: $main-dark-color;
  }
}

.btn-problem-gray {
  @extend %btn;

  @include flex-center {
    gap: 1vmin;
  }

  height: 5.5vmin;
  padding: 1vmin 2vmin;
  border: 1px solid color(gray-80);
  border-radius: 1vmin;
  background-color: color(gray-80);
  font-size: $font-size-22;
  color: color(gray-ff);
  transition: all 0.2s;

  img {
    width: 2vmin;
  }

  @include hover {
    background-color: color(gray-56);
  }
}
