/*
---------------------
  : responsive.scss :
---------------------
*/

// 1920px 이상의 큰 화면에 대한 스타일
@media only screen and (min-width: 1920px) {
}

// 1919px 이하의 화면에 대한 스타일
@media only screen and (max-width: 1919px) {
  .height_fit {
    .layout-panel-wrap {
      transform: translateY(-3vmin);
    }
    .training-list-wrap {
      margin-top: 9vmin;
    }
    .training-list .img-wrap {
      width: 10vmin;
      height: 10vmin;
    }
    .training-list .gradi-wrap {
      padding-bottom: 1.5vmin;
    }
  }
  // 모바일 대응
  @supports (-webkit-touch-callout: none) {
    .cai-main,
    .modal-completed {
      height: -webkit-fill-available;
      height: fill-available;
    }
  }
}
@media only screen and (max-width: 1366px) {
  :root {
    --footer-height: 10vmin;
  }
  .height_fit {
    .ft-conts-wrap .txt {
      margin: 0px 20vmin;
    }
  }
  .cai-ft {
    height: var(--footer-height);
    /* padding-bottom: 2vmin; */
  }
  .cai-nav-container {
    bottom: var(--footer-height);
  }
  .training-list {
    height: 31vmin;
  }
}
// 768px 이상 1024px 이하의 중간 크기 화면에 대한 스타일
@media only screen and (max-width: 1024px) {
  :root {
    --footer-height: 10vmin;
  }
  .btn-round-icon-arrow {
    width: 3vw;
    height: 3vw;
  }
  .cai-main {
    height: 100%;
    min-height: 100vh;
    &.height_fit {
      width: 100%;
    }
    &.width_fit {
      .layout-panel-wrap {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: var(--header-height) auto;
      }
    }
  }
  .cai-ft {
    height: var(--footer-height);
    /* padding-bottom: 2vmin; */
  }
  .cai-nav-container {
    bottom: var(--footer-height);
  }
  .swiper-pagination {
    height: calc(var(--footer-height) * 0.8);
  }
  .btn-ft-text {
    /* height: calc(100% - 2vmin); */
  }
}

// 360px 이상 768px 이하의 작은 화면에 대한 스타일
@media (max-width: 768px) {
  .cai-main {
    height: 100%;

    padding-top: 10vmin;
    padding-bottom: 10vmin;

    &.width_fit {
      .layout-panel-wrap {
        display: flex;
        flex-direction: column;
        margin: var(--header-height) auto;
      }
    }
  }
  @supports (-webkit-touch-callout: none) {
    .cai-main {
      min-height: -webkit-fill-available;
      min-height: fill-available;
    }
  }
  .cai-hd {
    height: 10vmin;
  }

  .hd-conts-wrap .bg-wrap {
    height: 10vmin;
  }
  .corner-name {
    height: 10vmin;
    line-height: 2.5;
  }
}

@media only screen and (max-width: 359px) {
  body {
    display: none;
  }
}
