/* =================== componentVideo =================== */
.player-wrap {
	overflow: hidden;
	position: relative;
	width: vw(1000);
	height: vh(563);
	margin: vh(70) auto 0;
	border-radius: vw(20);

	> iframe {
		width: 100%;
		height: 100%;
	}
}