/*
------------------
  : base.scss :
------------------
*/

body {
  background-color: #f0f0f0;
}
html,
body,
div,
p,
span,
ul,
ol,
dl,
li,
footer,
header,
main,
section,
article,
aside,
nav,
[class] {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  line-height: 1.5;
  font-family: "timesRoman", serif;
  letter-spacing: 0;
  vertical-align: baseline;
  word-break: keep-all;
  overflow-wrap: break-word;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

a {
  outline: 0;
  background-color: transparent;

  text: {
    decoration: none;
  }

  color: color(text);
  cursor: pointer;
}

ol,
ul,
dl {
  list-style: none;
}

textarea {
  resize: none;
}

select {
  padding: 5px 10px;
}

/* ie 화살표 제거 */
select::-ms-expand {
  display: none;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset img */
img {
  max-width: 100%;
  height: auto;
}

:root {
  --rem: 16;
  --header-height: 7vmin;
  --footer-height: 7vmin;
  --bg-color: #f0f0f0;
  --top-color: #f89e9e;
  --bottom-color: #565656;

  // 폰트를 부드럽게 렌더링하기 위한 속성
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* toastify-size */
  --toastify-toast-min-height: 0 !important;
}

/* 노출되지 않을 영역 */
.none {
  display: none !important;
}

/* 보이진 않지만 리딩되는 영역 */
.voice-only {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -9999px;
  width: 1px;
  height: 1px;
  color: transparent;
}

.btn-wrap {
  margin-top: 6.4vmin;
  text-align: center;

  > button:not(:first-of-type) {
    margin-left: 3vmin;
  }
}
