/*
---------------------
  : helper.scss :
---------------------
*/

// 노출되지 않을 영역
.none {
  display: none !important;
}

// 보이진 않지만 리딩되는 영역
.voice-only {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -9999px;
  width: 1px;
  height: 1px;
  color: transparent;
}

// 뷰화면에서만 야헤이 적용
.cai-view-yahei {
  position: relative;
  div,
  p,
  span,
  li,
  b,
  [class] {
    // font change
    font-family: "yahei", sans-serif;
  }
  .header-top {
    background: #000;
    padding: 0.5em 1em;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 2vmin;
    width: 100%;
  }
}

// 폰트별 클래스
.ql-font-noto-sans {
  font-family: "noto", arial, sans-serif;
}

.ql-font-timesRoman {
  font-family: "timesRoman", serif;
}

.ql-font-yahei {
  font-family: "yahei", sans-serif;
}

// quill editor text align
.ql-align-left {
  text-align: left;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}
