/* =================== footer =================== */
.cai-ft {
	position: fixed;
	top: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	height: $ft-height;
	background-color: color(gray-56);
}

.lnb-wrap {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	color: color(gray-ff);
}

.ft-conts-wrap {
	@include flex-center;
	@include full;

	.txt {
		margin: 0 vw(107);
		font-weight: 400;
		font-size: vw(26);
		color: color(gray-ff);

		b {
			font-weight: 600;
		}

		small {
			opacity: 0.7;
			font-size: 1em;
		}
	}

	.ft-icon-btn {
		@extend %btn;

		@include circle(vw(50));
		@include flex-center;
		
		border: 1px solid color(gray-ff);

		> img {
			width: vw(16);
		}

		&:hover {
			outline: 2px solid color(gray-ff);
		}

		&:disabled {
			opacity: 0.3;
			outline: none;
		}
	}
}