/* =================== header =================== */
.cai-hd {
	z-index: z(header);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $hd-height;
}

.hd-conts-wrap {
	@include bg-op($p: right center, $s: vw(85));

	position: relative;
	height: 100%;
	padding-right: vw(70);
	text-align: right;

	@include make-after {
		z-index: z(minus);
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% - vw(85));
		height: 100%;
	}
}

.hd-cha-wrap {
	@include flex-center(inline-flex);

	position: relative;
	margin-top: vw(10);
	
	.img {
		width: vw(100);
	}
	
	.txt {
		position: absolute;
		top: vh(40);
		padding: vh(12) vw(34);
		border-radius: vw(35);
		background-color: color(gray-ff);
		font-weight: 600;
		font-size: vw(26);
		box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
		white-space: nowrap;
	}
	
	&.first-half {
		.img {
			margin-left: vw(10);
		}

		.txt {
			left: calc(100% + vw(10));
			border-top-left-radius: 0;
		}
	}
	
	&.second-half {
		.img {
			margin-right: vw(10);
		}

		.txt {
			left: auto;
			right: calc(100% + vw(10));
			border-top-right-radius: 0;
		}
	}
}

.corner-name {
	display: inline-block;
	height: $hd-height;
	line-height: $hd-height;
	font-weight: 600;
	font-size: vw(30);
	color: color(gray-ff);
    vertical-align: top;
}