/* =================== form =================== */
// =================== button style
.btns-wrap {
	@include flex-center {
		gap: vw(30);
	}
}

// icon button
.btn-icon {
	@extend %btn;
	@include circle(vw(55));
	@include flex-center(inline-flex);

	background-color: color(main);
	box-shadow: 0 2px 5px rgba(193, 193, 193, 0.5);
	
	.icon {
		width: 50%;
	}

	&:disabled {
		border-color: color(gray-c9);
		background-color: color(gray-c9);
	}
}

.btn-mike {
	border: 1px solid color(red-600);
	background-color: color(red-600);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	
	.icon {
		width: vw(20);
	}
}

.btn-headset {
	border: 1px solid color(orange-300);
	background-color: color(orange-300);
}

.btn-reset {
	border: 1px solid color(gray-db);
	background-color: color(gray-ff);
}

.btn-icon-with-text {
	@extend %btn;

	text-align: center;

	.icon-wrap {
		@include circle(vw(80));
		@include flex-center(flex);

		margin: 0 auto;
		background-color: color(main);
		box-shadow: 0 3px 6px rgba(172, 179, 185, 0.5);
		
		.icon {
			width: 50%;
		}
	}
	
	.txt {
		margin: vh(23) auto 0;
		font-weight: 400;
		font-size: vw(26);
	}
}

// text button
.btn-fill-black {
	@extend %btn;
	@extend %btn-interaction;

	width: 100%;
	height: vh(88);
	border: 1px solid color(gray-56);
	border-radius: vw(10);
	background-color: color(gray-56);
	font-weight: 600;
	font-size: vw(22);
	color: color(gray-ff);
}

.btn-border-main {
	@extend %btn;
	@extend %btn-interaction;

	width: 100%;
	height: vh(88);
	border: 1px solid color(main);
	border-radius: vw(10);
	font-weight: 600;
	font-size: vw(24);
	color: color(main);

	&:before {
		letter-spacing: -0.04em;
	}
}

// footer buttons
.ft-icon-btn {
	@extend %btn;

	@include circle(vw(50));
	@include flex-center;

	border: 1px solid color(gray-ff);

	>img {
		width: vw(16);
	}

	@include hover {
		outline: 2px solid color(gray-ff);
	}

	&:disabled {
		opacity: 0.3;
		outline: none;
	}
}

.btn-ft-text {
	@include flex-center;

	position: absolute;
	top: 0;
	left: 0;
	width: vw(215);
	height: 100%;
	padding: 0 vw(40);
	font-weight: 600;
	font-size: vw(26);
	color: color(gray-ff);

	.icon {
		display: inline;
		width: vw(20);
		margin-left: vw(20);
	}

	.icon-close {
		display: none;
	}

	&.active {
		.icon-open {
			display: none;
		}

		.icon-close {
			display: inline;
		}
	}
}

// =================== input text style
.inp-txt {
	width: 100%;
	height: vh(88);
	padding: 0 vw(30);
	border: 1px solid color(gray-db);
	border-radius: vw(20);
	font-size: vw(28);

	&::placeholder {
		color: color(gray-80);
	}
}

// =================== input toggle style
.toggles-wrapper {
	.inp-toggle-wrap:not(:first-child) {
		margin-left: vw(50);
	}
}

.inp-toggle-wrap {
	display: inline-flex;
}

.toggle-name {
	font-weight: 400;
	font-size: vw(24);
	// toggle height
	line-height: vh(42);
}

.toggle-label {
	position: relative;
	display: block;
	width: vw(80);
	height: vh(42);
	margin-left: vw(20);
	border-radius: vw(21);
	background-color: color(gray-c9);
	font-size: 1px;
	color: transparent;
	transition: all 0.3s;
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
	
	@include make-after {
		@include circle(vw(30));
		
		position: absolute;
		top: 50%;
		left: vw(6);
		background-color: #ffffff;
		transform: translateY(-50%);
		transition: all 0.3s;
		box-shadow: inset 2px 6px 12px rgba(0, 0, 0, 0.12);
	}
}

.toggle-input:checked~.toggle-label {
	background-color: color(green-500);
	
	&:after {
		// 100% - (width + padding)
		left: calc(100% - vw(36));
	}
}

// =================== input checked style
// inp-chck-gray
.label-chck-gray {
	display: block;
	width: 100%;
	padding: vh(40) vw(40);
	border: 2px solid color(gray-f5);
	border-radius: vw(20);
	background-color: color(gray-f5);
	
	.text {
		position: relative;
		display: inline-block;
		padding-left: vw(80);
		font-size: vw(32);

		@include make-before {
			@include circle(vw(48));
			@include bg-op($s: vw(22));
			@include bg-url(icon, 'icon_check_white.svg');

			position: absolute;
			top: 50%;
			left: 0;
			background-color: color(gray-c9);
			box-shadow: 0 1px 4px rgba(172, 179, 185, 0.5);
			transform: translateY(-50%);
		}
	}
}

.inp-chck-gray:checked ~ .label-chck-gray {
	border-color: color(main);
	background-color: color(purple-200);
	color: color(main);
	
	.text {
		font-weight: 600;

		&:before {
			background-color: color(main);
		}
	}
}