$red-300: #FF7B70;
$red-500: #EC5757;
$red-700: #DF2F24;
$sky-200: #F0F5FA;
$sky-500: #A6C4E3;
$gray-22: #222222;
$gray-56: #565656;
$gray-f0: #F0F0F0;
$gray-ff: #ffffff;

$color-set: (
	text: $gray-22,
	warning: $red-500,
	red-300: $red-300,
	red-500: $red-500,
	red-700: $red-700,
	sky-200: $sky-200,
	sky-500: $sky-500,
	gray-ff: $gray-ff,
	gray-f0: $gray-f0,
	gray-56: $gray-56,
	gray-22: $gray-22,
);

$zIndex-set: (
	modal: 50,
	fixed: 20,
	header: 10,
	two: 2,
	one: 1,
	zero: 0,
	minus: -1,
);

$path-set: (
	logo: "../../../../public/images/logo/",
	icon: "../../../../public/images/icon/",
	img: "../../../../public/images/img/",
);

// common size
$hd-height: clamp(40px, vh(85), 85px);
$ft-height: clamp(40px, vh(90), 90px);
$shadow01: 0px 8px 15px rgba(170, 170, 170, 0.2);
$shadow02: 2px 6px 12px rgba(0, 0, 0, 0.15);