$red-300: #FF7B70;
$red-500: #EC5757;
$red-700: #DF2F24;
$sky-200: #EFF1F5;
$sky-500: #A6C4E3;
$sky-600: #4C94DF;
$gray-22: #222222;
$gray-56: #565656;
$gray-c9: #C9C9C9;
$gray-db: #DBDBDB;
$gray-f0: #F0F0F0;
$gray-ff: #ffffff;

$color-set: (
	text: $gray-22,
	warning: $red-500,
	red-300: $red-300,
	red-500: $red-500,
	red-700: $red-700,
	sky-200: $sky-200,
	sky-500: $sky-500,
	sky-600: $sky-600,
	gray-ff: $gray-ff,
	gray-f0: $gray-f0,
	gray-db: $gray-db,
	gray-c9: $gray-c9,
	gray-56: $gray-56,
	gray-22: $gray-22,
	lv01-bg: #F89E9E,
	lv01: #EE4141,
);

$zIndex-set: (
	modal: 100,
	fixed: 20,
	header: 10,
	nav: 5,
	two: 2,
	one: 1,
	zero: 0,
	minus: -1,
);

$path-set: (
	icon: "../../../images/icon/",
	img: "../../../images/img/",
);

// common size
$hd-height: clamp(40px, vh(85), 85px);
$ft-height: clamp(40px, vh(90), 90px);