$content-dark: #505A99; // fix
$content: #6E79BD; // fix
$content-light: #959FDC; // fix
$sub-purple: #D9D0FF; // fix
$sub-lightpurple: #F6F4FF; // fix
$sub-blue: #D6E9FF; // fix
$red-300: #FF7B70;
$red-500: #EC5757;
$red-600: #E45757;
$red-700: #DF2F24;
$blue-200: #EFF1F5;
$blue-300: #DCE6FF;
$blue-400: #A6C4E3;
$blue-500: #4C94DF;
$purple-200: #F4F3FA;
$green-500: #30C17B; // fix: right
$orange-300: #F5B057;
$orange-400: #EE8407; // fix: warning
$orange-500: #FEA451;
$orange-700: #E28733;
$gray-22: #222222; // fix
$gray-56: #565656; // fix
$gray-66: #666666; // fix
$gray-80: #808080; // fix
$gray-c9: #C9C9C9; // fix
$gray-db: #DBDBDB; // fix
$gray-f0: #F0F0F0; // fix
$gray-f5: #F5F5F5; // fix
$gray-ff: #ffffff; // fix
$bubble-red: #FFF3EA; // fix
$bubble-yellow: #FFFCDF; // fix
$bubble-green: #EEF6E7; // fix
$bubble-blue: #EDF8FF; // fix
$bubble-gray: #EFF1F5; // fix

$color-set: (
	main: $content,
	main-dark: $content-dark,
	main-light: $content-light,
	sub: $sub-purple,
	sub-light: $sub-lightpurple,
	sub-blue: $sub-blue,
	bubble-red: $bubble-red,
	bubble-yellow: $bubble-yellow,
	bubble-green: $bubble-green,
	bubble-blue: $bubble-blue,
	bubble-gray: $bubble-gray,
	text: $gray-22,
	right: $green-500,
	warning: $orange-400,
	red-300: $red-300,
	red-500: $red-500,
	red-600: $red-600,
	red-700: $red-700,
	blue-200: $blue-200,
	blue-300: $blue-300,
	blue-400: $blue-400,
	blue-500: $blue-500,
	purple-200: $purple-200,
	orange-300: $orange-300,
	orange-400: $orange-400,
	orange-500: $orange-500,
	orange-700: $orange-700,
	gray-22: $gray-22,
	gray-56: $gray-56,
	gray-66: $gray-66,
	gray-80: $gray-80,
	gray-c9: $gray-c9,
	gray-db: $gray-db,
	gray-f0: $gray-f0,
	gray-f5: $gray-f5,
	gray-ff: $gray-ff,
);

$zIndex-set: (
	modal: 100,
	fixed: 20,
	header: 10,
	nav: 5,
	two: 2,
	one: 1,
	zero: 0,
	minus: -1,
);

$path-set: (
	icon: "./images/icon/",
	img: "./images/img/",
);

// common size
$hd-height: clamp(40px, vh(85), 85px);
$ft-height: clamp(40px, vh(90), 90px);
$btn-shadow: 0 4px 0 rgba(88, 88, 88, 0.2);