/*
------------------------------
  : componentWordCard.scss :
------------------------------
*/

.word-card-list {
  @include flex-center {
    gap: 3vmin;
    flex-wrap: wrap;
  }
}

.word-card {
  padding: 6vmin 7vmin;
  border: $border-3 solid color(bubble-blue);
  border-radius: $border-radius;
  text-align: center;

  &.active {
    @include gradiant;
  }

  .text {
    font-weight: 600;
    font-size: $head3;
    line-height: 1;
  }

  .text-sm {
    display: block;
    margin-top: 3vmin;
    font-size: $font-size-28;
    color: color(gray-66);
    line-height: 1;
  }
}
