/*
----------------------------------------
  : componentDescriptionBubble.scss :
----------------------------------------
*/

.description-bubble-container {
  @include flex-center {
    gap: 2vmin;
  }

  > .img {
    height: 8vmin;
  }
}

.description-bubble-wrap {
  position: relative;
  padding-left: 2vmin;

  @include make-before {
    @include bg-op($position: left center, $size: 100% 100%);
    @include bg-url(icon, "icon_bubble_tail.svg");

    position: absolute;
    @include absolute-y-center;

    left: 0.3vmin;
    width: 2.3vmin;
    height: 2.4vmin;
  }

  .bubble-conts {
    @include flex-between;

    max-width: 90vmin;
    min-height: 10vh;
    padding: 3vmin 4vmin;
    border-radius: $border-pill-radius;
    background-color: color(bubble-gray);
    transition: width 0.3s;

    .text {
      font-size: $font-size-26;
      line-height: 1.5;
      white-space: pre-line;
    }

    .btn {
      margin-left: 4vmin;
      box-shadow: none;
    }
  }
}
