/* =================== componentNumbering =================== */
.numbering-wrapper {
  /* margin-top: 3vmin; */
}
.numbering-list {
  @include flex {
    @include flex-op(flex-start, space-between);
  }

  position: relative;
  min-height: 7vmin;
  padding: 2vmin 3vmin;
  border-radius: 2vmin;
  background-color: color(gray-f5);

  &:not(:first-of-type) {
    margin-top: 2vmin;
  }

  .number {
    @include circle(3.3vmin);

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: color(main);
    font-weight: 600;
    font-size: 2.2vmin;
    color: color(gray-ff);
    text-align: center;
  }

  .text {
    width: 100%;
    padding-left: 6vmin;
    font-size: 2.4vmin;
    white-space: pre-line;
  }
}
