/*
--------------------------------
  : componentTabContents.scss :
--------------------------------
*/

.tab-contents-container {
  height: 100%;

  .image-with-caption-wrapper {
    img {
      width: 100%;
      max-width: 200px;
      max-height: 150px;
      object-fit: cover;
    }

    .caption-wrap {
      width: 100%;
      max-width: 200px;
    }
  }
}

// tab title
.tab-title-wrap {
  @include flex-center;

  border-radius: $inner-radius;
  background-color: color(bubble-gray);

  .tab-title {
    width: 50%;
    border-radius: $inner-radius;
    padding: 1vmin 2vmin;
    font-size: $font-size-28;
    color: color(gray-80);
    text-align: center;

    &.active {
      background-color: color(main);
      color: color(gray-ff);
      font-weight: $bold;
    }
  }
}

// END tab title
// tab content
.tab-conts-container {
  @include scrollbar;

  margin-top: 3vmin;
  overflow: auto;
  height: calc(100% - 10vmin);
}

.tab-conts-wrap {
  padding: 1em;
  border: $border-1 solid color(gray-db);
  border-radius: $inner-radius;
  font-size: $font-size-26;
  white-space: pre-line;

  &:not(:first-of-type) {
    margin-top: 3vmin;
  }

  > div {
    text-align: left;

    &:not(:first-of-type) {
      margin-top: 3vmin;
    }
  }

  .btns-wrap {
    margin-top: 3vmin;
  }
}

// END tab content
