/*
------------------------------
  : componentRecordSubmit.scss :
------------------------------
*/

.finish-record-wrapper {
  .record-btn-wrap {
    margin: 4vmin auto 0;
  }
}

.answer-sheet-wrapper {
  width: 100%;
  margin-top: 5vmin;
  padding: 2vmin 3vmin 3vmin;
  border-radius: 3vmin;
  border: 1px solid color(sub);
  background-color: color(sub-light);

  .answer-sheet-title {
    display: flex;
    padding-bottom: 1.5vmin;
    font-weight: 600;
    font-size: 2.8vmin;
    color: color(main);

    > img {
      margin-right: 1.5vmin;
    }
  }

  .answer-sheet-conts {
    padding: 3vmin;
    border-radius: 1vmin;
    background-color: color(gray-ff);
  }
}
