/* =================== componentVocaNote =================== */
.voca-note-container {
  overflow: hidden;
  width: 100%;
  // height: vh(80);
  padding: vh(24) vw(20);
  border: 1px solid #dbe1ff;
  border-radius: vw(20);
  background-color: #f4f3fa;
  max-height: vh(80);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  transition: all 0.3s;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  &.active {
    overflow: auto;
    // height: auto;
    max-height: 100vh;
  }
}

.voca-title {
  z-index: z(zero);
  position: relative;
  padding-bottom: vh(22);
  font-size: vw(22);
  text-align: center;

  .img {
    position: absolute;
    top: vh(-8);
    left: 0;
    width: vw(90);
  }

  .btn {
    position: absolute;
    top: vh(-4);
    left: auto;
    right: 0;
  }
}

.voca-list-wrap {
  z-index: z(one);
  position: relative;
}

.voca-list {
  @include flex-btw;

  padding: vh(15) vw(20);
  border-radius: vw(10);
  background-color: color(gray-ff);

  &:not(:first-child) {
    margin-top: vh(20);
  }

  .chinese {
    font-weight: 600;
    font-size: vw(28);
  }

  .pinyin {
    font-size: vw(22);
    color: color(gray-80);
  }

  .mean {
    font-size: vw(22);
    color: color(gray-80);
  }

  .btn-icon {
    width: vw(55);
    height: vw(55);
  }
}
