/* =================== componentVocaNote =================== */
.voca-note-container {
  @include scrollbar;

  overflow: hidden;
  position: relative;
  width: 100%;
  height: vh(80);
  padding: 0 vw(20) vh(24);
  border: 1px solid #dbe1ff;
  border-radius: vw(20);
  background-color: color(purple-200);
  transition: all 0.3s;

  &.active {
    overflow: auto;
    height: 100%;
  }
}

.voca-title {
  z-index: z(two);
  position: sticky;
  top: 0;
  left: 0;
  padding-top: vh(24);
  padding-bottom: vh(22);
  font-size: vw(22);
  text-align: center;
  background-color: color(purple-200);

  .img {
    position: absolute;
    // top: calc(vh(24) + vh(-8));
    top: vh(16);
    left: 0;
    width: vw(90);
  }

  .btn {
    position: absolute;
    top: vh(20);
    left: auto;
    right: 0;
  }
}

.voca-list-wrap {
  z-index: z(one);
  position: relative;
}

.voca-list {
  @include flex-btw;

  padding: vh(15) vw(20);
  border-radius: vw(10);
  background-color: color(gray-ff);

  &:not(:first-child) {
    margin-top: vh(20);
  }

  .chinese {
    font-weight: 600;
    font-size: vw(28);
  }

  .pinyin {
    font-size: vw(22);
    color: color(gray-80);
  }

  .mean {
    font-size: vw(22);
    color: color(gray-80);
  }

  .btn-icon {
    width: vw(55);
    height: vw(55);
  }
}