/* =================== componentVocaNote =================== */
.voca-note-container {
  @include scrollbar;

  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: vw(391);
  height: vh(80);
  margin: 0 auto;
  padding: 0 vw(20) vh(24);
  border: 1px solid color(sub);
  border-radius: vw(20);
  background-color: color(purple-200);
  transition: all 0.3s;

  &.active {
    overflow: auto;
    height: 100%;
  }
}

.voca-title {
  z-index: z(two);
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
  padding-top: vh(24);
  padding-bottom: vh(22);
  font-size: vw(22);
  text-align: center;
  background-color: color(purple-200);

  .img {
    position: absolute;
    top: vh(16);
    left: 0;
    width: vw(90);
  }

  .btn {
    position: absolute;
    top: vh(20);
    left: auto;
    right: 0;
  }
}

.voca-list-wrap {
  z-index: z(one);
  position: relative;
}

.voca-list {
  @include flex-btw;

  padding: vh(15) vw(20);
  border-radius: vw(10);
  background-color: color(gray-ff);
  font-size: vw(22);
  color: color(gray-80);

  &:not(:first-child) {
    margin-top: vh(20);
  }

  // .chinese {
  //   font-weight: 600;
  //   font-size: vw(28);
  // }

  // .pinyin {
  //   font-size: vw(22);
  //   color: color(gray-80);
  // }

  // .mean {
  //   font-size: vw(22);
  //   color: color(gray-80);
  // }

  b {
    font-weight: 600;
    font-size: vw(28);
    color: color(text);
  }

  .voca-wrap {
    padding-right: vw(10);
  }

  .btn-icon {
    flex-shrink: 0;
    width: vw(55);
    height: vw(55);
  }
}