/* =================== componentNumbering =================== */
.numbering-list {
  @include flex {
    @include flex-op(flex-start, space-between);
  }

  position: relative;
  min-height: vw(92);
  padding: vh(25) vw(40);
  border-radius: vw(20);
  background-color: color(gray-f5);

  &:not(:first-of-type) {
    margin-top: vh(20);
  }

  .number {
    @include circle(vw(36));

    position: absolute;
    top: vw(35);
    left: vw(40);
    // margin-top: vw(10);
    background-color: color(main);
    line-height: vw(34);
    font-weight: 600;
    font-size: vw(22);
    color: color(gray-ff);
    text-align: center;
  }

  .text {
    width: 100%;
    padding-left: vw(60);
    font-size: vw(28);
    white-space: pre-line;
  }
}
