/* =================== componentRepeatSpeak =================== */
.repeat-speak-wrapper {
  @include flex-col {
    @include flex-op(flex-start, center);
  }

  max-width: vw(390);
  width: 100%;
  height: vw(140);
  padding: vw(10) vw(40);
  border: vw(2) solid color(blue-300);
  border-radius: vw(20);
  background-color: rgba(255, 255, 255, 0.5);

  .text-wrap {
    @include flex {
      align-items: center;
    }

    max-height: vw(140);
  }

  .text {
    font-size: vw(24);
    line-height: 1;
    margin-right: vw(20);
  }

  .img {
    max-height: 90%;
    margin-left: vw(14);
  }

  .btn {
    margin-top: vw(16);
  }

  .cai-progress-track {
    margin-top: vw(26);
  }
}