/*
---------------------------------
  : componentContsinfo.scss :
---------------------------------
*/

.cont-info-wrap {
  @include flex-center;

  flex-direction: column;
  overflow: auto;
  height: 100%;

  .character-wrapper {
    width: 100%;
  }

  .character-wrap {
    margin-top: 3vmin;

    .img {
      height: 18vmin;
    }
  }

  .text-bubble-wrap {
    margin: $mx-auto;
  }

  .btns-wrap {
    display: block;
    text-align: center;
    margin-bottom: 5vmin;

    .txt {
      margin-top: 2vmin;
      font-size: $font-size-22;
    }
  }
}

.text-bubble-wrap {
  position: relative;
  padding: 4vmin 6vmin;
  border-radius: $border-pill-radius;
  background-color: color(bubble-gray);
  font-weight: $medium;
  font-size: $font-size-36;
  text-align: center;

  @include make-after {
    @include bg-url(icon, "icon_contsinfo_tail.svg");
    @include bg-op($size: 100%);

    position: absolute;
    @include absolute-x-center;

    top: 99%;
    width: 3vmin;
    height: 3vmin;
  }
}
