/* =================== componentTraining =================== */
.training-list-wrap {
  @include flex-center {
    gap: vw(36);
  }

  margin-top: 7.5vmin;
}

.training-list {
  width: 34vmin;
  height: 33vmin;
  border: 1px solid color(gray-db);
  border-radius: vw(20);
  background: #ffffff;

  .gradi-wrap {
    @include gradiant;

    position: relative;
    height: 44%;
    padding-bottom: vh(29);
    border-radius: vw(20) vw(20) 0 0;
    text-align: center;
  }

  .gradi-conts-wrap {
    position: relative;
    top: -6vmin;
  }

  .img-wrap {
    @include circle(11vmin);

    margin: 0 auto;
    border: 0.7vmin solid color(gray-ff);
    box-shadow: 0 6px 0 rgba(88, 88, 88, 0.2);

    img {
      @include full;

      object-fit: cover;
    }
  }

  .title {
    margin-top: 1.5vmin;
    font-weight: 600;
    font-size: 3.4vmin;
    line-height: 1.5;
  }

  .white-wrap {
    @include scrollbar;

    overflow: auto;
    /* height: calc(100% - vw(165)); */
    font-size: 2vmin;

    // .text {
    //   line-height: 1;

    //   &:not(:first-of-type) {
    //     margin-top: vw(20);
    //   }
    // }

    .text-wrap {
      @include scrollbar;

      overflow: auto;
      max-height: calc(100% - 1vmin);
      padding: 2.5vmin 4vmin 0;
    }
  }

  .btns-wrap {
    position: absolute;
    top: auto;
    bottom: vh(38);
    left: 0;
    width: 100%;
    height: vh(60);
    padding: 0 vw(45);

    .btn {
      min-width: 0;
      width: 100%;
      height: 100%;
      font-size: vw(22);
    }
  }
}

// 학습 정리
.training-end {
  .training-list {
    height: vh(550);
  }

  .white-wrap {
    position: relative;
    padding-bottom: vh(100);
  }

  .off {
    .img-wrap {
      filter: grayscale(1);
    }
  }
}
