/*
------------------------------
  : componentNextLesson.scss :
------------------------------
*/

.next-lesson-wrapper {
  display: flex;
  justify-content: center;
  gap: 5vmin;

  .lesson-list {
    width: 42vmin;
  }

  .text-bubble-wrap {
    @include flex-center;

    min-height: 30vmin;
    font-weight: 600;
    font-size: 3.2vmin;
    white-space: pre-line;
  }

  .img-wrap {
    @include square(20vmin);

    overflow: hidden;
    margin: 3vmin auto 0;

    > img {
      @include full;

      object-fit: cover;
    }
  }
}
