/* =================== componentDescriptionBubble =================== */
.description-bubble-container {
	@include flex-center {
		gap: vw(10);
	}

	> .img {
		height: vh(100);
	}
}

.description-bubble-wrap {
	position: relative;
	padding-left: vw(20);

	@include make-before {
		@include bg-op($p: left center, $s: 100% 100%);
		@include bg-url(icon, 'icon_bubble_tail.svg');

		position: absolute;
		top: 50%;
		left: vw(3);
		width: vw(23);
		height: vw(24);
		transform: translateY(-50%);
	}
	
	.bubble-conts{
		@include flex-btw;

		max-width: vw(900);
		min-height: vh(102);
		padding: vh(25) vw(40);
		border-radius: vw(60);
		background-color: color(bubble-gray);

		.text {
			font-size: vw(25);
			line-height: 1.5;
			white-space: pre-line;
		}

		.btn {
			margin-left: vw(40);
			box-shadow: none;
		}
	}
}
