/* =================== componentNumbering =================== */
.numbering-list {
  @include flex {
    @include flex-op(flex-start, space-between);
  }

  position: relative;
  min-height: 10vmin;
  padding: 3vmin 4vmin;
  border-radius: vw(20);
  background-color: color(gray-f5);

  &:not(:first-of-type) {
    margin-top: vh(20);
  }

  .number {
    @include circle(3.3vmin);

    position: absolute;
    top: 3.2vmin;
    background-color: color(main);
    font-weight: 600;
    font-size: 2.2vmin;
    color: color(gray-ff);
    text-align: center;
  }

  .text {
    width: 100%;
    padding-left: 6vmin;
    font-size: 2.4vmin;
    white-space: pre-line;
  }
}
