/* =================== componentNextLesson =================== */
.next-lesson-wrapper {
  @include flex {
    justify-content: center;
    gap: 5vmin;
  }

  .lesson-list {
    width: 42vmin;
  }

  .text-bubble-wrap {
    @include flex-center;

    min-height: vh(280);
    font-weight: 600;
    font-size: 3.2vmin;
    white-space: pre-line;
  }

  .img-wrap {
    @include square(20vmin);

    overflow: hidden;
    margin: vh(60) auto 0;

    > img {
      @include full;

      object-fit: cover;
    }
  }
}
