/*
------------------------------
  : componentTitle.scss :
------------------------------
*/

.conts-ttl {
  position: relative;
  padding-left: 6vmin;
  font-weight: 600;
  font-size: $font-size-26;
  @include make-before {
    @include bg-url(icon, "icon_tip.svg");
    @include bg-op($s: 100% 100%);

    position: absolute;
    top: 0.4vmin;
    left: 0;
    width: 4.4vmin;
    height: 4.4vmin;
  }
}
