/* =================== componentStepCard =================== */
.step-card {
  @include flex-center {
    flex-direction: column;
  }

  @include gradiant;

  width: vw(550);
  max-width: 100%;
  min-height: vw(456);
  margin: 0 auto;
  padding: vh(48) vw(70);
  border: vw(3) solid color(sub-blue);
  border-radius: vw(30);
  transition: width 0.2s, height 0.2s;

  > div {
    font-size: vw(40);
  }

  .chinese {
    font-weight: 600;
    font-size: vw(70);
    line-height: 1;
  }

  .pinyin {
    font-size: vw(45);
    line-height: 1;
  }

  .conts-ttl:before {
    top: 50%;
    transform: translateY(-50%);
  }

  .btns-wrap {
    margin-top: vh(40);
  }

  &.step2 {
    width: vw(630);
    min-height: vw(541);
  }

  &.step3 {
    width: vw(710);
    min-height: vw(541);
  }

  @at-root .grid-h-5-5 .step3 {
    width: 100%;
  }
}

// step sentence card
.step-card.sentence-card {
  width: vw(524);
  min-height: vw(468);
  padding: vh(48) vw(50);
  text-align: center;

  > div {
    font-size: vw(32);
  }

  .text {
    font-size: vw(28);
  }

  .chinese {
    font-size: vw(50);
  }

  .pinyin {
    margin-top: vw(20);
    font-size: vw(28);
  }

  &.step2 {
    width: vw(1328);
    min-height: vw(468);
  }

  &.step3 {
    width: vw(1328);
    min-height: vw(520);
  }
}

// END step sentence card
