/*
------------------------------
  : componentQuizs.scss :
------------------------------
*/

.quiz-container {
  margin: 0 auto;
}

.quiz-question-wrap {
  padding: 4vmin;
  border: $border-1 solid color(gray-db);
  border-radius: $inner-radius;
  font-weight: 600;
  text-align: center;
  white-space: pre-line;

  .text-lg {
    font-size: $head1;
    margin-bottom: 4vmin;
  }

  .text-md {
    font-size: $font-size-32;
  }

  .text-sm {
    margin-top: 3vmin;
    font-weight: 400;
    font-size: $font-size-28;
    color: color(gray-80);
  }

  > * {
    margin-top: 3vmin;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.blank-line {
  display: inline-block;
  width: 7.2vmin;
  border-bottom: $border-3 solid color(gray-80);
}

.blank-gray {
  display: inline-block;
  min-width: 8vmin;
  margin-top: 0.5vmin;
  padding: 0.5vmin 1vmin;
  border: $border-3 solid color(gray-c9);
  border-radius: $small-radius;
  background-color: color(gray-f5);
  font-weight: 600;
  font-size: $font-size-28;
  color: color(main);
  text-align: center;

  &.active {
    border-color: color(main);
    background-color: color(purple-200);
  }

  &.answer-right {
    border-color: color(right);
    background-color: color(gray-ff);

    .text {
      color: color(right);
    }
  }

  &.answer-wrong {
    border-color: color(warning);
    background-color: color(gray-ff);

    .text {
      color: color(warning);
    }
  }
}

.hori-answer-wrap {
  @include flex-center {
    gap: 3vmin;
  }

  .inp-grp {
    /* flex: 1; */
    min-width: 30%;
  }
}

.quiz-sentence-wrap {
  @include flex-center {
    gap: 2vmin;
  }

  margin: 3vmin 0;

  .text {
    display: inline-block;
    font-weight: 600;
    font-size: $font-size-20;
    text-align: center;

    .sm {
      display: block;
      font-weight: 400;
    }
  }

  .blank {
    min-width: 16vmin;
    max-width: 30vmin;
    padding: 1.5vmin;
    border: $border-3 solid color(gray-c9);
    border-radius: $small-radius;
    background-color: color(gray-f5);
    color: color(main);

    &.active {
      border-color: color(main);
      background-color: color(purple-200);
    }

    &.answer-right {
      border-color: color(right);
      background-color: color(gray-ff);

      .text {
        color: color(right);
      }
    }

    &.answer-wrong {
      border-color: color(warning);
      background-color: color(gray-ff);

      .text {
        color: color(warning);
      }
    }
  }
}
