/* =================== componentTabContents =================== */
.tab-contents-container {
  height: 100%;

  .image-with-caption-wrapper {
    img {
      width: 100%;
      max-width: 200px;
      max-height: 150px;
      object-fit: cover;
    }

    .caption-wrap {
      width: 100%;
      max-width: 200px;
    }
  }
}

// tab title
.tab-title-wrap {
  @include flex-center;

  border-radius: vw(20);
  background-color: color(bubble-gray);

  .tab-title {
    width: 50%;
    height: vh(70);
    border-radius: vw(20);
    font-weight: 600;
    font-size: vw(28);
    line-height: vh(70);
    color: color(gray-66);
    text-align: center;

    &.active {
      background-color: color(main);
      color: color(gray-ff);
    }
  }
}

// END tab title
// tab content
.tab-conts-container {
  @include scrollbar;

  overflow: auto;
  height: calc(100% - vh(70));
}

.tab-conts-wrap {
  margin-top: vh(30);
  padding: vh(40) vw(40);
  border: 1px solid color(gray-db);
  border-radius: vw(20);
  font-size: vw(28);
  white-space: pre-line;

  >div {
    text-align: left;

    &:not(:first-child) {
      margin-top: vw(40);
    }
  }

  .btns-wrap {
    margin-top: vh(24);
  }
}

// END tab content