/* =================== componentStepCard =================== */
.step-card {
  @include flex-center {
    flex-direction: column;
  }

  @include gradiant;

  width: 54vmin;
  max-width: 100%;
  min-height: 44vmin;
  margin: 0 auto;
  padding: 5vmin 7vmin;
  border: 0.3vmin solid color(sub-blue);
  border-radius: 3vmin;
  transition: width 0.2s, height 0.2s;

  > div {
    font-size: 4vmin;
  }

  .chinese {
    font-weight: 600;
    font-size: 7vmin;
    line-height: 1;
  }

  .pinyin {
    font-size: 4vmin;
    line-height: 1;
  }

  .conts-ttl:before {
    top: 50%;
    transform: translateY(-50%);
  }

  .btns-wrap {
    margin-top: 3vmin;
  }

  &.step2 {
    width: 54vmin;
  }

  &.step3 {
    width: 54vmin;
  }

  @at-root .grid-h-5-5 .step3 {
    width: 100%;
  }
}

// step sentence card
.step-card.sentence-card {
  width: 50vmin;
  min-height: 40vmin;
  padding: 3vmin 4vmin;
  text-align: center;

  > div {
    font-size: vw(32);
  }

  .text {
    font-size: vw(28);
  }

  .chinese {
    font-size: vw(50);
  }

  .pinyin {
    margin-top: vw(20);
    font-size: vw(28);
  }

  &.step2 {
    width: vw(1328);
    min-height: vw(468);
  }

  &.step3 {
    width: vw(1328);
    min-height: vw(520);
  }
}
