/*
------------------------------
  : componentRecordButton.scss :
------------------------------
*/

.record-btn-wrap {
  position: relative;
  max-width: 44vmin;
  width: 100%;
  margin: 3vmin auto;

  .record-btn-flex-wrap {
    display: flex;
    @include flex-op(center, flex-start);

    gap: 2vmin;

    padding: 2vmin 3.5vmin;
    border: $border-2 solid color(blue-300);
    border-radius: 2vmin;
    background-color: color(gray-ff);

    .btn-icon {
      width: 5vmin;
      height: 5vmin;
      border-radius: 1.1vmin;
    }

    .txt {
      font-size: $font-size-24;
    }
  }

  .btn-return {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(2vmin, -54%);
    width: 4.5vmin;
    height: 4.5vmin;
    border-radius: $small-radius;
  }
}
