/* =================== componentTraining =================== */
.training-list-wrap {
  @include flex-center {
    gap: vw(36);
  }

  margin-top: vh(90);
}

.training-list {
  width: vw(348);
  height: vw(361);
  border: 1px solid color(gray-db);
  border-radius: vw(20);

  .gradi-wrap {
    @include gradiant;

    position: relative;
    height: vw(165);
    padding-bottom: vh(29);
    border-radius: vw(20) vw(20) 0 0;
    text-align: center;
  }

  .gradi-conts-wrap {
    position: relative;
    top: vh(-60);
  }

  .img-wrap {
    @include circle(vw(140));

    max-width: 140px;
    max-height: 140px;
    margin: 0 auto;
    border: vw(10) solid color(gray-ff);
    box-shadow: 0 6px 0 rgba(88, 88, 88, 0.2);

    img {
      @include full;

      object-fit: cover;
    }
  }

  .title {
    margin-top: vh(18);
    font-weight: 600;
    font-size: vw(32);
    line-height: 1.5;
  }

  .white-wrap {
    overflow: auto;
    height: calc(100% - vw(165));
    padding: vh(30) vw(45);

    .text {
      padding-left: vw(18);
      font-size: vw(24);
      line-height: 1;

      &:not(:first-child) {
        margin-top: vw(20);
      }
    }
  }
}

// 학습 정리
.training-end {
  .training-list {
    height: vw(553);
  }

  .white-wrap {
    position: relative;
    padding-bottom: vh(100);

    .btn {
      position: absolute;
      top: auto;
      bottom: vh(38);
      left: vw(45);
      width: calc(100% - vw(90));
      height: vh(60);
    }
  }

  .off {
    .img-wrap {
      filter: grayscale(1);
    }
  }
}
