/* =================== componentContsinfo =================== */
.cont-info-wrap {
  @include flex-center {
    flex-direction: column;
  }

  overflow: auto;
  height: 100%;

  .character-wrapper {
    width: 100%;
  }

  .character-wrap {
    margin-top: 3vmin;

    .img {
      height: 18vmin;
    }
  }

  .text-bubble-wrap {
    margin: 0 auto;
  }

  .btns-wrap {
    display: block;
    margin-bottom: 5vmin;
    text-align: center;

    .txt {
      margin-top: 2vmin;
      font-size: 2.2vmin;
    }
  }
}

.text-bubble-wrap {
  position: relative;
  padding: 4vmin 6vmin;
  border-radius: $border-pill-radius;
  background-color: color(bubble-gray);
  font-weight: 500;
  font-size: var(--font-size-36);
  text-align: center;

  @include make-after {
    @include bg-url(icon, "icon_contsinfo_tail.svg");
    @include bg-op($s: 100%);

    position: absolute;
    top: 99%;
    left: 50%;
    width: 3vmin;
    height: 3vmin;
    transform: translateX(-50%);
  }
}
