/* =================== componentWordCard =================== */
.word-card-list {
  @include flex-center {
    gap: 3vmin;
    flex-wrap: wrap;
  }
}

.word-card {
  padding: 6vmin 7vmin;
  border: 3px solid color(bubble-blue);
  border-radius: 3vmin;
  text-align: center;

  &.active {
    @include gradiant;
  }

  .text {
    font-weight: 600;
    font-size: var(--head3);
    line-height: 1;
  }

  .text-sm {
    display: block;
    margin-top: 3vmin;
    font-size: var(--font-size-28);
    color: color(gray-66);
    line-height: 1;
  }
}
