/*
------------------ 
  : modal.scss :
------------------ 
*/

.modal {
  @include absolute-center;

  width: 0;
  height: 0;

  overflow: hidden;
  z-index: z(modal);
  transition-delay: 0.2s;

  div,
  p,
  span,
  li,
  b,
  [class] {
    // font change
    font-family: "yahei", sans-serif;
  }

  &.active {
    @include full;
  }
}

.modal-bg {
  z-index: z(zero);
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  @include flex-center;

  overflow: hidden;
  flex-direction: column;
  z-index: z(two);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 78vmin;
  padding: 4vmin 5vmin;
  border-radius: $border-radius;
  background-color: color(gray-ff);
  transform: translate(-50%, -50%) scale(0.2);
  /* transition: $transition-all-03s;
  transition-timing-function: ease-in-out; */

  @at-root .active & {
    transform: translate(-50%, -50%);
  }
}

// 모달 기본형
.base-modal {
  .btns-wrap {
    width: 100%;
    margin-top: 3.5vmin;
  }

  .base-wrapper {
    display: flex;
    flex-direction: column;
    @include flex-op(flex-start, center);

    width: 100%;
    height: 100%;

    &::-webkit-scrollbar {
      width: 0;
    }

    .swiper-pagination {
      position: relative;
      top: 0;
      bottom: 0;
    }

    .swiper-pagination-bullet {
      width: 1.5vmin;
      height: 1.5vmin;
      margin: 0 0.75vmin !important;
      background-color: color(gray-c9);
      opacity: 1;
      line-height: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: color(gray-80);
      width: 4vmin;
      border-radius: 3vmin;
    }
  }

  &.wide-modal {
    display: block;
    width: 104vmin;
    height: 78vmin;
    max-width: 98%;
  }
}

.base-ttl {
  display: flex;
  @include flex-op(center, center);

  gap: 4vmin;

  .profile-img-wrap {
    @include circle(18vmin);

    flex-shrink: 0;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .txt-wrap {
    width: 100%;
  }

  .ttl {
    font-weight: 600;
    font-size: $head2;
  }

  .txt {
    font-weight: 600;
    font-size: $font-size-32;
    color: color(gray-80);
  }
}

.base-conts {
  @include flex-center;
  @include scrollbar;

  font-size: $font-size-28;
  overflow: auto;
  flex-direction: column;
  touch-action: pan-y;
  width: 100%;
  max-height: 30vmin;
  margin-top: 3vmin;
  background-color: color(gray-f0);
  text-align: center;
  white-space: pre-wrap;
  padding: 5vmin;
  border-radius: calc($border-radius * 0.5);

  .dec {
    line-height: 1.6;
    font-size: $font-size-28;
  }

  .btn-icon {
    width: 8vmin;
    height: 8vmin;
  }
}

// 단어장
.voca-modal {
  .base-wrapper {
    width: 100%;
  }

  .btn-close-modal {
    right: 1vmin;
  }

  .base-ttl {
    justify-content: center;
    margin: 0 auto;

    .profile-img-wrap {
      overflow: visible;
      width: 18vmin;
      height: 18vmin;
    }

    .img {
      transform: none;
    }
  }

  .base-conts {
    display: block;
    min-height: 30vmin;
    margin-bottom: 5vmin;
    padding: 5vmin;
  }

  .voca-wrap {
    margin-bottom: 5vmin;
    margin-right: auto;
    line-height: 1.5;
    font-size: 2.4vmin;
    text-align: left;
  }

  .chinese {
    font-weight: 600;
    font-size: $head2;
    text-align: left;
  }

  .pinyin {
    font-size: $font-size-36;
    color: color(gray-66);
    text-align: left;
  }

  .mean {
    font-size: $font-size-36;
    color: color(gray-66);
    text-align: left;
  }
}

// 학습완료
.modal-completed {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translate(0);

  .modal-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: transparent;
    transform: none;

    > img {
      z-index: z(two) + 1;
      width: 60vmin;
      margin-top: -13vmin;
    }

    .text {
      z-index: z(two) + 1;
      font-weight: 600;
      font-size: $font-size-28;
      margin-top: 1vmin;
      color: color(gray-ff);
      text-align: center;
      white-space: pre-line;
    }
  }

  .btn {
    @extend %btn;
    @extend %btn-interaction;

    z-index: z(two) + 1;
    position: relative;
    width: 10%;
    min-width: 17vmin;
    margin-top: 5vmin;
    padding: 0.5vmin 1vmin;
    border-radius: $border-pill-radius;
    background-color: color(gray-ff);
    font-weight: 600;
    font-size: $font-size-28;
  }
}

.modal-inner {
  @include absolute-center;

  overflow: hidden;
  width: 54vmin;
  padding: 2vmin;
  border-radius: $inner-radius;
  background-color: color(gray-ff);
}

.modal-introduction-container {
  .flex-start-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .url-wrapper {
    width: 70%;
  }

  .btns-wrap {
    gap: 1vmin;
    margin-top: 15px;

    .btn {
      min-width: 1px;
      width: 100%;
      height: 48px;
      font-size: 16px;
    }
  }
}

.image-thumb {
  position: relative;
  @include square(80px);

  > img {
    @include full;

    object-fit: cover;
  }
}

.title-wrap {
  padding: 0 16px;
  text-align: left;

  .title {
    font-size: $font-size-24;
    font-weight: 600;
  }

  .sub-title {
    margin-top: 6px;
    font-weight: 600;
    color: color(gray-80);
  }
}

.description-wrapper {
  overflow: auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  height: 220px;
  margin-top: 1vmin;
  padding: 2vmin;
  border-radius: $small-radius;
  background-color: #f0f0f0;
  font-size: 12px;
}

$caption-img: 30vmin; //캡션 이미지 사이즈
.caption-list-image {
  border-radius: 1vmin;
  -webkit-user-drag: none;
  cursor: pointer;
  width: calc(($caption-img * 4) / 3);
  height: $caption-img;
  object-fit: cover;
}

.recorder-wrapper {
  display: flex;
  padding: 0 24px;
  width: fit-content;
  padding: 1.5vmin 3vmin;
  border-radius: 1vmin;
  border: $border-2 solid #dce6ff;
  align-items: center;
  margin: 0 auto;
  & img {
    width: 5vmin;
    height: 5vmin;
    box-shadow: $active-shadow;
    border-radius: 1vmin;
    margin-right: 2vmin;
    cursor: pointer;
  }
  & p {
    font-size: 2vmin;
  }
}
