/* =================== modal =================== */
.modal {
  overflow: hidden;
  z-index: z(modal);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  transition-delay: 0.2s;

  div,
  p,
  span,
  li,
  b,
  [class] {
    // font change
    font-family: "yahei", sans-serif;
  }

  &.active {
    width: 100%;
    height: 100%;
  }
}

.modal-bg {
  z-index: z(zero);
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: z(two);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 78vmin;
  padding: 4vmin 5vmin;
  border-radius: $border-radius;
  background-color: color(gray-ff);
  transform: translate(-50%, -50%) scale(0.2);
  /* transition: all 0.3s;
  transition-timing-function: ease-in-out; */

  @at-root .active & {
    transform: translate(-50%, -50%);
  }
}

// 모달 기본형
.base-modal {
  .btns-wrap {
    width: 100%;
    margin-top: 3.5vmin;
  }

  .base-wrapper {
    @include flex-col {
      @include flex-op(flex-start, center);
    }

    width: 100%;
    height: 100%;

    &::-webkit-scrollbar {
      width: 0;
    }

    .swiper-pagination {
      position: relative;
      top: 0;
      bottom: 0;
    }

    .swiper-pagination-bullet {
      width: 1.5vmin;
      height: 1.5vmin;
      margin: 0 0.75vmin !important;
      background-color: color(gray-c9);
      opacity: 1;
      line-height: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: color(gray-80);
      width: 4vmin;
      border-radius: 3vmin;
    }
  }

  &.wide-modal {
    display: block;
    width: 98vmin;
    height: 70vmin;
    max-width: 100%;
  }
}

.base-ttl {
  @include flex {
    @include flex-op(center, center);

    gap: 4vmin;
  }

  .profile-img-wrap {
    @include circle(18vmin);

    flex-shrink: 0;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .txt-wrap {
    width: 100%;
  }

  .ttl {
    font-weight: 600;
    font-size: var(--head2);
  }

  .txt {
    font-weight: 600;
    font-size: var(--font-size-32);
    color: color(gray-80);
  }
}

.base-conts {
  @include flex-center;
  @include scrollbar;

  font-size: var(--font-size-28);
  overflow: auto;
  flex-direction: column;
  touch-action: pan-y;
  width: 100%;
  max-height: 30vmin;
  margin-top: 3vmin;
  background-color: color(gray-f0);
  text-align: center;
  white-space: pre-wrap;
  padding: 5vmin;
  border-radius: calc($border-radius * 0.5);

  .dec {
    line-height: 1.6;
    font-size: var(--font-size-28);
  }

  .btn-icon {
    width: 8vmin;
    height: 8vmin;
  }
}

// 단어장
.voca-modal {
  .base-wrapper {
    width: 100%;
  }

  .btn-close-modal {
    right: 1vmin;
  }

  .base-ttl {
    justify-content: center;
    margin: 0 auto;

    .profile-img-wrap {
      overflow: visible;
      width: 18vmin;
      height: 18vmin;
    }

    .img {
      transform: none;
    }
  }

  .base-conts {
    display: block;
    min-height: 30vmin;
    margin-bottom: 5vmin;
    padding: 5vmin;
  }

  .voca-wrap {
    margin-bottom: 5vmin;
    margin-right: auto;
    line-height: 1.5;
    font-size: 2.4vmin;
    text-align: left;
  }

  .chinese {
    font-weight: 600;
    font-size: var(--head2);
    text-align: left;
  }

  .pinyin {
    font-size: var(--font-size-36);
    color: color(gray-66);
    text-align: left;
  }

  .mean {
    font-size: var(--font-size-36);
    color: color(gray-66);
    text-align: left;
  }
}

// 학습완료
.modal-completed {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translate(0);

  .modal-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: transparent;
    transform: none;

    > img {
      z-index: z(two) + 1;
      width: 60vmin;
      margin-top: -13vmin;
    }

    .text {
      z-index: z(two) + 1;
      font-weight: 600;
      font-size: 3vmin;
      margin-top: 1vmin;
      color: color(gray-ff);
      text-align: center;
      white-space: pre-line;
    }
  }

  .btn {
    @extend %btn;
    @extend %btn-interaction;

    z-index: z(two) + 1;
    position: relative;
    width: 10%;
    min-width: 17vmin;
    margin-top: 5vmin;
    padding: 0.5em 1em;
    border-radius: 10vmin;
    background-color: color(gray-ff);
    font-weight: 600;
    font-size: 3vmin;
  }
}
