/* =================== modal =================== */
.modal {
  overflow: hidden;
  z-index: z(modal);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  transition-delay: 0.2s;

  div,
  p,
  span,
  li,
  b,
  [class] {
    // font change
    font-family: "yahei", sans-serif;
  }

  &.active {
    width: 100%;
    height: 100%;
  }
}

.modal-bg {
  z-index: z(zero);
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: z(two);
  position: absolute;
  top: 50%;
  left: 50%;
  width: vw(800);
  padding: vh(60) vw(60);
  border-radius: vw(30);
  background-color: color(gray-ff);
  transform: translate(-50%, -50%) scale(0.2);
  transition: all 0.3s;
  transition-timing-function: ease-in-out;

  @at-root .active & {
    transform: translate(-50%, -50%);
  }
}

// 모달 기본형
.base-modal {
  // height: vh(900);

  .btns-wrap {
    width: 100%;
    margin-top: vh(40);
  }

  .base-wrapper {
    @include flex-col {
      @include flex-op(flex-start, center);
    }

    width: 100%;
    height: 100%;

    &::-webkit-scrollbar {
      width: 0;
    }

    .swiper-pagination {
      position: relative;
      top: 0;
      bottom: 0;
    }

    .swiper-pagination-bullet {
      width: vw(16);
      height: vw(16);
      margin: 0 vw(9) !important;
      background-color: color(gray-c9);
      opacity: 1;
      line-height: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: color(gray-80);
      width: vw(40);
      border-radius: vw(30);
    }
  }

  &.wide-modal {
    display: block;
    width: vw(1200);
    height: vh(900);
  }
}

.base-ttl {
  @include flex {
    @include flex-op(center, center);

    gap: vw(40);
  }

  .profile-img-wrap {
    @include circle(vw(180));

    flex-shrink: 0;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .txt-wrap {
    width: 100%;
  }

  .ttl {
    font-weight: 600;
    font-size: vw(60);
  }

  .txt {
    margin-top: vh(15);
    font-weight: 600;
    font-size: vw(32);
    color: color(gray-80);
  }
}

.base-conts {
  @include flex-center;
  @include scrollbar;

  overflow: auto;
  flex-direction: column;
  width: 100%;
  max-height: vh(440);
  margin-top: vh(40);
  margin-bottom: vh(60);
  border-radius: vw(20);
  background-color: color(gray-f0);
  text-align: center;
  white-space: pre-wrap;
  padding: vw(60);

  .dec {
    line-height: 1.6;
    font-size: vw(28);
  }

  .btn-icon {
    width: vw(80);
    height: vw(80);
  }
}

// 단어장
.voca-modal {
  .base-wrapper {
    width: 100%;
  }

  .btn-close-modal {
    right: vw(12);
  }

  .base-ttl {
    justify-content: center;
    margin: 0 auto;

    .profile-img-wrap {
      overflow: visible;
      width: vw(180);
      height: vw(180);
    }

    .img {
      transform: none;
    }
  }

  .base-conts {
    display: block;
    min-height: vh(485);
    margin-bottom: vh(50);
    padding: vh(40) vw(100) vh(60);
  }

  .voca-wrap {
    margin-bottom: vh(90);
    margin-right: auto;
    line-height: 1.5;
    font-size: vw(36);
    text-align: left;
  }

  .chinese {
    font-weight: 600;
    font-size: vw(60);
    text-align: left;
  }

  .pinyin {
    font-size: vw(36);
    color: color(gray-66);
    text-align: left;
  }

  .mean {
    font-size: vw(36);
    color: color(gray-66);
    text-align: left;
  }
}

// 학습완료
.modal-completed {
  width: 100%;
  height: 100%;

  .modal-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: transparent;
    transform: none;

    > img {
      z-index: z(two) + 1;
      width: vw(600);
      margin-top: vh(-130);
    }

    .text {
      z-index: z(two) + 1;
      font-weight: 600;
      font-size: vw(50);
      color: color(gray-ff);
      text-align: center;
      white-space: pre-line;
    }
  }

  .btn {
    @extend %btn;
    @extend %btn-interaction;

    z-index: z(two) + 1;
    position: relative;
    width: vw(252);
    margin-top: vh(90);
    padding: vh(30) vw(20);
    border-radius: vw(20);
    background-color: color(gray-ff);
    font-weight: 600;
    font-size: vw(28);
  }
}
