/* =================== problemcontents =================== */
// 개인 성취도 점수
.problem-user-info-wrap {
	.user-title {
		font-size: vw(32);
		line-height: 1.3;

		>b {
			color: color(main);
		}
	}

	.score-wrapper {
		@include flex-btw;

		margin-top: vh(20);
		padding: vh(20) vw(20);
		border-radius: vw(10);
		background-color: color(sub-light);

		.score {
			font-size: vw(60);
			line-height: 1;

			>b {
				color: color(main);
			}
		}
	}
}

// 문제 채점버튼
.problem-grade-wrap {
	@include flex {
		flex-wrap: wrap;
	}
}

.problem-grade {
	flex-basis: 20%;
	background-color: color(gray-f0);

	&:nth-child(even) {
		background-color: color(gray-db);
	}
}

.btn-grade {
	@extend %btn;
	@include full;

	padding: vw(5);

	>span {
		display: block;
		margin-bottom: vh(8);
		font-weight: 600;
		font-size: vw(24);
		line-height: 1;
		text-align: center;
	}

	>img {
		width: 80%;
	}
}