.swiper {
  height: 100%;
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0.2;
}

.swiper-pagination {
  position: relative;
  bottom: calc(var(--footer-height) * 0.2);
}

.swiper-pagination-bullet {
  opacity: 1;
  width: 2vmin;
  height: 2vmin;
  margin: 0 1vmin !important;
  background-color: color(gray-c9);
  line-height: 1;
}

.swiper-pagination-bullet-active {
  width: 4vmin;
  border-radius: 4vmin;
  background-color: color(gray-80);
}

.swiper-button-prev {
  position: fixed;
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%;
  background-color: color(gray-80);
  box-shadow: 0px 1px 3px rgba(95, 95, 95, 0.5);

  &:after {
    @include bg-url("icon", "icon_arrow_left_white.svg");

    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2vmin;
  }
}

.swiper-button-next {
  position: fixed;
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%;
  background-color: color(gray-80);
  box-shadow: 0px 1px 3px rgba(95, 95, 95, 0.5);

  &:after {
    @include bg-url("icon", "icon_arrow_right_white.svg");

    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2vmin;
  }
}

.swiper-position-3 {
  .swiper-pagination {
    position: relative;
    bottom: calc(var(--height) * 0.06);
  }

  .swiper-wrapper {
    padding: 14px 0;
  }

  .swiper-slide:not(.swiper-slide-active) {
    opacity: 1;
  }
}

.swiper-position-2 {
  .swiper-pagination {
    position: relative;
    bottom: calc(var(--height) * 0.06);
  }
}
